body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.42857143;
  color: #686868;
}

.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;

  font-size: 14px;

  .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 240px;
    border: none;
    min-height: 50px;
    border-radius: 0;
    background-color: #4270b1;

    .nav {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      li {
        a {
          color: #fff !important;
          position: relative;
          display: block;
          padding: 15px;
          line-height: 1.42857143;

          &:hover, &:active, &:focus {
            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
          }
        }

        .active > a {
          background: rgba(0, 0, 0, 0.1);
          color: #f6f6f6
        }

        &.user > a {
          &.fa,
          &.glyphicon,
          &.ion {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .navbar-right {
    float: right
  }

  .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: FontAwesome;
    line-height: 1.42857143;
    color: #fff;

    &:before {
      content: "\f0c9"
    }
    &:hover {
      color: #f6f6f6;
      background-color: #365c92;
    }

    &:focus, &:after {
      background: transparent;
    }
  }

  .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: left;
    width: 240px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow: hidden;
    background-color: #365c92;
    color: #fff;
    border-bottom: 0 solid transparent;

    img {
      width: 30px;
      line-height: 50px;
      vertical-align: middle;
    }

    &:hover {
      background-color: #3d659e;
    }

    .logo-mini {
      display: none;
    }

    .logo-lg {
      display: block;
      padding-left: 15px;
    }
  }

  .nav-search {
    position: relative;

    a {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 800;
      cursor: pointer;

      &:hover {
        background: none !important;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
      }

      > i:before {
        content: "\f002";
        display: inline-block;
        font: normal normal normal 18px/1 FontAwesome;
        font-size: inherit;
      }
    }

    input {
      z-index: 1;
      border-bottom: 2px solid #82a9e1;
      height: 30px;
      outline: none;
      background: none;
      transition: 0.7s cubic-bezier(0, 0.8, 0, 1);
      position: absolute;
      top: 0;
      right: 0;
      margin: 12px 0;
      color: white;
      font-size: 14px;
      box-shadow: none;
      width: 0;
      opacity: 0;
    }

    &.open {
      a > i:before {
        content: "\f00d";
      }

      input {
        width: 400px;
        opacity: 1;
      }
    }
  }
}

.navbar-nav {
  float: left;
  margin: 0;

  > li {
    float: left;

    > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.main-sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 50px;
  height: 100%;
  width: 240px;
  z-index: 810;
  background-color: #293545;

  -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
  transition: transform .3s ease-in-out, width .3s ease-in-out
}

@media (max-width: 767px) {
  .main-sidebar {
    width: 50px !important;
    z-index: 850;

    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .right-side {
    margin-left: 50px !important;
    z-index: 840;
  }

  .main-header {
    .logo {
      width: 50px;

      .logo-mini {
        display: block;
        font-size: 18px;
        text-align: center;
      }

      .logo-lg {
        display: none;
      }
    }

    .navbar {
      margin-left: 50px !important;
    }
  }


  .main-sidebar .user-panel >.info,
  .sidebar-menu>li>a>span,
  .sidebar-menu li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
  }

  .sidebar-menu>li>a {
    margin-right: 0;
  }

  .sidebar-menu {
    .sub-menu {
      position: absolute;
      left: 50px;
      top: 0;
      background-color: #28303b;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      transform: translateX(0px) !important;
      max-height: initial !important;

      &.collapsed {
        transform: translateX(-5px) !important;
        max-height: initial !important;
      }

      &::before {
        display: none;
      }

      li {

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }

        a {
          padding: 6px 10px 6px 20px !important;
        }

        a::after {
          left: 7px !important;
        }
      }
    }

    .sub-menu-icon {
      display: none;
    }
  }

  .app-version {
    color: transparent !important;
    width: 50px !important;
    z-index: 860 !important;
  }
}

.main-sidebar {
  .user-panel {
    padding: 10px;
    overflow: hidden;
    cursor: pointer;

    &:before, &:after {
      content: " ";
      display: table;
      clear: both;
    }

    .info {
      padding: 5px 5px 5px 15px;
      line-height: 1;
      position: absolute;
      left: 55px;
      color: #fff;
      text-overflow: ellipsis;
      width: 160px;
      white-space: nowrap;
      overflow: hidden;

      p {
        font-weight: 600;
        margin-bottom: 9px;
        margin-top: 0;
      }

      a {
        text-decoration: none;
        padding-right: 5px;
        margin-top: 3px;
        font-size: 11px;
        color: #fff;
      }

      a > .fa, a > .ion, a > .glyphicon {
        margin-right: 3px
      }
    }

    .image {
      img {
        width: 100%;
        max-width: 45px;
        height: auto
      }
    }
  }

  .sidebar {
    margin-bottom: 30px;
  }
}

.app-version {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 240px;
  overflow: hidden;
  text-align: center;
  font-size: 1em;
  color: #7d8488;
  background-color: #293545;
  z-index: 820;

  -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
  transition: transform .3s ease-in-out, width .3s ease-in-out
}

.sidebar-menu, .main-sidebar .user-panel,
.sidebar-menu > li.header {
  white-space: nowrap;
  overflow: hidden
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &:hover {
    overflow: visible
  }

  li {
    position: relative;
    margin: 0;
    padding: 0;

    &:hover > a {
      color: #fff;
      background: #374352;
      border-left-color: #008080;
    }

    &.active > a {
      color: #fff;
      background: #272f3a;
      border-left-color: #3c8dbc;
    }

    &.header {
      padding: 10px 25px 10px 15px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: clip;
      color: #618290;
      background: #1c242f;
    }

    a {
      border-left: 3px solid transparent;
      padding: 12px 5px 12px 15px;
      display: block;
      color: #b8c7ce;
      position: relative;

      .fa, .glyphicon, .ion {
        width: 20px;
      }
    }
  }

  .sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 1;
    max-height: 400px;
    transform: translateY(0px);
    transition: max-height 1s linear, opacity 0.1s linear, transform 0.2s linear;

    &.collapsed {
      opacity: 0;
      max-height: 0;
      transform: translateY(-5px);
      overflow: hidden !important;
      transition: max-height 1s cubic-bezier(0, 1, 0, 1), opacity 0.1s linear, transform 0.2s linear;
    }

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      left: 21px;
      top: -3px;
      width: 6px;
      height: 6px;
      border: 1px solid #1d2530;
      border-radius: 4px;
      z-index: 10;
      background: #272f3a;
      opacity: 1;
      transition: opacity 0.1s linear;
    }

    &.collapsed::before {
      opacity: 0;
    }

    &.collapsed ~ .sub-menu-icon {
      transform: rotate(0deg);
    }

    li {

      &::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        left: 23px;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #272f3a;
      }

      &:last-child::before {
        bottom: auto;
        height: 15px;
      }

      &::after {
        content: "";
        position: absolute;
        box-sizing: border-box;
        left: 24px;
        top: 13px;
        width: 10px;
        height: 2px;
        background: #272f3a;
      }

      a {
        padding: 6px 5px 6px 45px;
        font-size: 0.9em;
      }

      a::after {
        content: "";
        position: absolute;
        box-sizing: border-box;
        left: 32px;
        top: 11px;
        width: 6px;
        height: 6px;
        border: 1px solid #889097;
        border-radius: 4px;
        z-index: 10;
        background: #272f3a;
      }

      &:hover > a {
        color: #fff;
        background: transparent;
        border-left-color: transparent;
      }

      &.active > a {
        color: #fff;
        background: transparent;
        border-left-color: transparent;
      }

      &:hover > a::after {
        border-color: #008080;
      }

      &.active > a::after {
        border-color: #3c8dbc;
      }
    }
  }

  .sub-menu-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 12px;
    color: #b8c7ce;
    transform: rotate(90deg);
    transition: transform 0.2s linear;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::before {
      content: "\f054";
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
      font-size: 12px;
    }
  }
}

.icon {
  margin-right: 5px
}

.icon-product:before {
  content: "\e913";
  vertical-align: 1px;
}

.icon-organization:before {
  content: "\e90f";
  vertical-align: 0;
}

.sidebar-collapse {
  .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
  }

  .right-side {
    margin-left: 50px !important;
    z-index: 840;
  }

  .main-header {
    .logo {
      width: 50px;

      .logo-mini {
        display: block;
        font-size: 18px;
        text-align: center;
      }

      .logo-lg{
        display: none;
      }
    }

    .navbar {
      margin-left: 50px !important;
    }
  }

  .app-version {
    color: transparent !important;
    width: 50px !important;
    z-index: 860 !important;
  }
}


.sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
  margin-right: 0;
}

.sidebar-collapse .main-sidebar .user-panel >.info,
.sidebar-collapse .sidebar-menu>li>a>span,
.sidebar-collapse .sidebar-menu li.header {
  display: none !important;
  -webkit-transform: translateZ(0);
}
.sidebar-collapse .sidebar-menu {
  .sub-menu {
    position: absolute;
    left: 50px;
    top: 0;
    background-color: #28303b;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    transform: translateX(0px);
    max-height: initial;

    &.collapsed {
      transform: translateX(-5px);
      max-height: initial;
    }

    &::before {
      display: none;
    }

    li {

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      a {
        padding: 6px 10px 6px 20px;
      }

      a::after {
        left: 7px;
      }
    }
  }

  .sub-menu-icon {
    display: none;
  }
}

.right-side {
  -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  z-index: 820;

  margin-left: 240px;
}

.main-content {
  padding: 15px;
}

.signIn_block {
  .authForm {
    margin: 50px 40px !important;
    .signInForm {
      width: 200px !important;

      .submitBlock > button {
        width: 100% !important;
      }
    }
  }
}

.profile-section {
  .profile-left {
    width: 200px;
    float: left;

    .profile-image {
      height: 175px;
      line-height: 175px;
      text-align: center;
      font-size: 72px;
      margin-bottom: 10px;
      overflow: hidden;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
    }

    button {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }

  .profile-right {
    margin-left: 240px;
    padding-right: 20px;
  }

  h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;

    small {
      display: block;
      font-size: 12px;
      font-weight: 400;
      margin-top: 5px;
    }

    &.title {
      font-size: 14px;
    }
  }
}

.locale-selector img {
  margin-right: 15px;
}