/* Common style implementation */

.btn {
  display: inline-block;
  padding: 6px 10px;
  color: #314157;
  vertical-align: middle;
  text-decoration: none;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.42857143;

  &[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
  }
  &:active, &.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
  }
  &:focus {
    outline: none;
  }

  .empty {
    padding: 0;
  }

  span {

  }
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  > .btn {
    position: relative;
    float: left;
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }

  .btn.disabled {
    pointer-events: none;
    background: whitesmoke;
    cursor: not-allowed;
  }
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > .btn,
  > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .btn-group .btn {
    width: 100%;
  }
}


.btn-selector {
  .btn {
    width: 100%;
    height: 30px;
    max-height: 30px;
    text-align: left;
    position: relative;
    padding-right: 2.5em;

    .caret {
      right: 1em;
      top: 1.1em;
      position: absolute;
    }
    .selector-val{
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
  }
}

.btn-without-border {
  border: transparent;
}

.btn-white {
  background-color: white;
  border-color: #ced2d7 #c5cad0 #ced2d7;
  &:hover {
    background: #e2e7eb;
    border-color: #d8dde1;
  }
}

.btn-success {
  background: teal;
}

.btn-primary {
  background: #4270b1;
}
.btn-danger{
  background: #d52020;
}

.btn-success:hover,
.btn-primary:hover {
  background-color: #37474f;
}

.btn-danger:hover {
  background-color: #9f1a1a;
}

.btn-success,
.btn-danger,
.btn-primary {
  color: white;
}

.btn-sm {
  padding: 4px 8px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-search {
  width: 30px;
  height: 30px;
  line-height: 28px;
  padding: 0;
  border: none;
  background: transparent;
  vertical-align: top;
  text-align: center;
  color: white;
}

//.btn {
//  float: left;
//  min-width: 150px;
//  max-width: 250px;
//  display: block;
//  padding: 1em 2em;
//  margin: 1em 2em;
//  border: none;
//  background: none;
//  color: inherit;
//  vertical-align: middle;
//  position: relative;
//  z-index: 1;
//  -webkit-backface-visibility: hidden;
//  -moz-osx-font-smoothing: grayscale;
//  -webkit-transition: color 0.3s;
//  transition: color 0.3s;
//  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//
//  &:focus {
//    outline: none;
//  }
//
//  &:hover {
//    color: #fff;
//
//    &::before {
//      //opacity: 1;
//    }
//
//    &::after {
//      background-color: #37474f;
//    }
//
//    &::after,
//    &::before {
//      //-webkit-transform: scale3d(1, 1, 1);
//      //transform: scale3d(1, 1, 1);
//    }
//  }
//
//  span {
//    vertical-align: middle;
//  }
//
//  &::before,
//  &::after {
//    content: '';
//    position: absolute;
//    border-radius: inherit;
//    background: #cbc6c6;
//    z-index: -1;
//    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//  }
//
//  &::before {
//    top: -4px;
//    bottom: -4px;
//    left: -4px;
//    right: -4px;
//    opacity: 0.2;
//    -webkit-transform: scale3d(0.7, 1, 1);
//    transform: scale3d(0.7, 1, 1);
//    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
//    transition: transform 0.3s, opacity 0.3s;
//  }
//
//  &::after {
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    -webkit-transform: scale3d(1.1, 1, 1);
//    transform: scale3d(1.1, 1, 1);
//    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
//    transition: transform 0.3s, background-color 0.3s;
//  }
//
//  /* color implementation */
//  .btn-success::before,
//  .btn-success::after {
//    background: teal;
//  }
//
//  .btn-success:hover::after {
//    background-color: #37474f;
//  }
//  .btn-success,
//  .btn-danger {
//    color: white;
//  }
//
//  .btn-danger::before,
//  .btn-danger::after {
//    background: #d52020;
//  }
//
//  .btn-danger:hover::after {
//    background-color: #9f1a1a;
//  }
//}
//
//
//
//
