$purple_color: #9675ce;

$info_dark_color: #5481c1;
$info_color: #42a5f5;
$info_light_color: #00bcd4;

$success_dark_color: teal;

$purple_color: #9675ce;
$error_color: #f54646;
$danger_color: #d52020;

$master_color: #626262;
$success_color: #10cfbd;
$danger_color: #f55753;

$bg_master: #626262;
$bg_master_light: #e6e6e6;
$bg_master_lighter: #f0f0f0;
$bg_master_lightest: #fafafa;
$bg_light_grey: #f5f5f5;
