.notify-wrapper {
  z-index: 5000;
  position: fixed;
  top: 60px;
  right: 10px;

  .notify-item {
    width: 340px;
    display: block;
    background: rgba(39, 41, 48, 0.8);
    color: #eee;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
    position: relative;
    border-radius: 3px;
    padding: 15px 27px 15px 15px;

    &.notify-show {
      pointer-events: auto;
      -webkit-animation-name: animJelly;
      animation-name: animJelly;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }

    &.notify-hide {
      -webkit-animation-name: animFade;
      animation-name: animFade;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }

    .notify-close {
      float: right;
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      color: white;
      -webkit-appearance: none;
      padding: 0;
      cursor: pointer;
      background: 0 0;
      border: 0;
      position: relative;
      right: -16px;
      top: -8px;
    }

    .notify-content {
      .notify-title {
        padding: 0 0 8px 0;
        text-shadow: none;
        font-weight: 300;
        font-size: 17px;
      }

      p {
        text-shadow: none;
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
      }
    }
  }


  .default {
    background-color : cornflowerblue !important;
    color: #000000;
  }

  .error {
    background-color : palevioletred;
    color: #000000;
  }

  .success {
    background-color : palegreen;
    color: #000000;
  }

}

.selectList {
  position: absolute;
  z-index: 10;
  left: 0;
  border: 1px solid #ced2d7;
  display: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
  box-shadow: rgba(136,153,178,0.68) 1px 1px 3px -1px;
  background: #fff;
  max-height: 319px;
  overflow: hidden;
}
.selectList.moreTop:before,
.selectList.moreBottom:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #71767d;
  z-index: 1;
  left: 0;
}
.selectList.moreTop:before {
  top: 0;
}
.selectList.moreBottom:after {
  bottom: 0;
}
.selectList .item {
  line-height: 28px;
  padding: 0 10px;
  cursor: pointer;
  display: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  color: #506177;
}
.selectList .item + .item {
  border-top: 1px solid #e9edee;
}
.selectList .item.hover {
  background: #f1f1f1;
}
.selectList .item.active {
  background: #5189d9;
  color: #fff;
  font-weight: bold;
}
.selectList .item.show {
  display: block;
}
.selectList.active {
  display: block;
}

.hide {
  display: none !important
}


.sorting_button:before {
  content: "\e98b";
  vertical-align: middle;
}
.sorting_button.active:before {
  content: "\e968";
  vertical-align: middle;
}

.checkbox {
  padding-left: 20px;
  display: inline-block;
}

.checkbox label {
  padding-left: 7px;
  position: relative;
  cursor: pointer;
}

.checkbox label::before {
  -o-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  background-color: #ffffff;
  border-radius: 1px;
  border: 1px solid rgba(120, 130, 140, 0.13);
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: .3s ease-in-out;
  width: 17px;
  outline: none !important;
  top: -2px;
}

.checkbox label::after {
  color: #5481c1;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  left: 1px;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -7px;
  width: 16px;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
  outline: thin dotted;
}

.checkbox input[type="checkbox"]:hover + label::after,
.checkbox input[type="checkbox"]:checked + label::after {
  content: "\e80c";
  font-family: 'icomoon';
  opacity: 1;
}

.checkbox input[type="checkbox"]:hover:not(:checked) + label::after {
  opacity: 0.6;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled + label::after {
  color: #c3c3c3;
}

