.selectList {
  position: absolute;
  z-index: 10;
  left: 0;
  border: 1px solid #ced2d7;
  display: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
  box-shadow: rgba(136,153,178,0.68) 1px 1px 3px -1px;
  background: #fff;
  max-height: 319px;
  overflow: hidden;
}
.selectList.moreTop:before,
.selectList.moreBottom:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #71767d;
  z-index: 1;
  left: 0;
}
.selectList.moreTop:before {
  top: 0;
}
.selectList.moreBottom:after {
  bottom: 0;
}
.selectList .item {
  line-height: 28px;
  padding: 0 10px;
  cursor: pointer;
  display: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  color: #506177;
}
.selectList .item + .item {
  border-top: 1px solid #e9edee;
}
.selectList .item.hover {
  background: #f1f1f1;
}
.selectList .item.active {
  background: #5189d9;
  color: #fff;
  font-weight: bold;
}
.selectList .item.show {
  display: block;
}
.selectList.active {
  display: block;
}

.hide {
  display: none !important
}


/**   SORT BUTTON   **/
.button.empty {
  padding: 0;
  min-width: 30px;
  text-align: center;
  color: #84909e;
}
.button.empty.selected {
  width: 17px;
}
.button.empty.selected:after {
  margin-left: 0;
}

.sorting_button:before {
  content: "\e98b";
  vertical-align: middle;
}
.sorting_button.active:before {
  content: "\e968";
  vertical-align: middle;
}

/**   SORT BUTTON END  **/


.checkbox {
  padding-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.checkbox label {
  padding-left: 7px;
  position: relative;
  cursor: pointer;
}

.checkbox label::before {
  -o-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  background-color: #ffffff;
  border-radius: 1px;
  border: 1px solid rgba(120, 130, 140, 0.13);
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: .3s ease-in-out;
  width: 17px;
  outline: none !important;
  top: -2px;
}

.checkbox label::after {
  color: #5481c1;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  left: 1px;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -6px;
  width: 16px;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
  outline: thin dotted;
}

.checkbox input[type="checkbox"]:hover + label::after,
.checkbox input[type="checkbox"]:checked + label::after {
  content: "\e80c";
  font-family: 'icomoon';
  opacity: 1;
}

.checkbox input[type="checkbox"]:hover:not(:checked) + label::after {
  opacity: 0.6;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled + label::after {
  color: #c3c3c3;
}





/** SELECTOR **/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.button-selector {
  display: inline-block;
  width: 100%;
}

.button-selector .button {
  min-width: 100%;
  text-align: left;
  position: relative;
  margin-right: 24px;
}

.button .caret {
  position: absolute;
  top: 11px;
  right: 8px;
}

.button-selector span {
  display: block;
  overflow: hidden;
}

.control-group {
  display: table;
  width: 100%;

  .button-selector {
    display: table-cell;
    width: 100%;

    .button {
      margin-right:0;
    }
  }

  .sorting_button {
    display: table-cell;
    width: 1%;
    vertical-align: bottom;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  text-align: left;
  list-style: none;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  background: #fff;
  box-shadow:  1px 1px 3px -1px rgba(136,153,178,0.68);
  -webkit-box-shadow: 1px 1px 3px -1px rgba(136,153,178,0.68);
  border: 1px solid #ced2d7;
  border-top: 0;
  margin-top: 1px;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-menu ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333;
  white-space: normal;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0px;
  margin: 2px 0 0;
}

.dropdown-menu ul > li > a:focus,
.dropdown-menu ul > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}


.dropdown-menu ul > li:not(:first-child ) {
  border-top: 1px solid #e9edee;
}

/** LOCAL SEARCH **/
.local-search {
  position: relative;
  color: #a5acb5;
}

.local-search input { padding-right: 25px; }

.icon {
  display: inline-block;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.local-search .local-search-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-weight: 600;
}

.local-search-icon:before {
  content: "\e904";
}

.edit-icon {
  font-size: 14px;
}

.edit-icon:before {
  content: "\e915";
}

/** GLOBAL SEARCH **/
.gl-search {
  position: relative;
  width: 434px;
  margin: 0 !important;
  height: 42px;
}
.gl-search-input {
  height: 34px;
  width: 0;
  padding: 0 44px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.7s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 0;
  color: white;
  font-size: 18px;
}

.gl-search-input-open {
  width: 400px;
  z-index: 1;
  border-bottom: 2px solid #82a9e1;
}

.gl-search-button,
.gl-close-button {
  background: #5481c1;
  border: none;
  height: 34px;
  width: 34px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;
  font-family: 'icomoon';
  font-size: 22px;
  color: #82a9e1;
}

.gl-search-button:hover,
.gl-close-button:hover {
  color: #ffffff;
}

.gl-search-button:before {
  content: "\e904";
}

.gl-close-button:before {
  content: "\e80e";
  font-size: 16px;
  font-weight: bold;
}



/* OVERRIDED STYLES! */
.header_global > .rightBlock .topicTitle {
  //background: #F3F1F4 none !important;
}

body {
  //background-color: #F3F1F4 !important;
  //color: #686868;
}




/**
   PANEL for create/edit pages
*/

.panel .body {
  padding: 14px;
}

.panel .footer {
  text-align: right;
  padding: 0 14px 14px 14px;
}

label {
  vertical-align : top;
  line-height : 25px;
}

label.required:after {
  content: "*";
  color : red;
  padding-left: 4px;
}

.inputField {
  width: 100%;
  box-shadow: rgba(49, 65, 87, 0.4) 0px 0px 1px 0px;
  line-height: 28px;
  height: 28px;
  border: 0;
  max-height: none;
}

.inputField.description {
  min-height: 200px;
}

.panelField{
  display: flex;
  position: relative
}

.grid-indent{
  margin: 0 -7px;
}

.grid-indent [class*='col-']{
  padding: 0 7px;
  box-sizing: border-box;
}

[class*='col-'] [class*='col-']{
  padding: 0;
}

.panelField .label{
  padding: 0 12px;
  background: #a9b4bb;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff;
  font-weight: bold;
  line-height: 28px;
}

.inputField.rightIndent{
  margin-right: 7px;
}


label.bordered{
  position: relative;
  display: block;
}

label.bordered:after{
  content: "";
  height: 1px;
  position: absolute;
  background: #c1c9cd;
  left: 130px;
  top: 50%;
  right: 0;
}

.panelField .email{
  width: 120%;
}

.panelField .icon-verifiable:before ,
.panelField .icon-success:before ,
.panelField .icon-error:before {
  vertical-align: middle;
  position: absolute;
  right: 5px;
  font-size: 18px;
  top: 50%;
  line-height: 0;
  color: #a2acb3;
  animation: animation-8 1s linear 0s infinite normal forwards running;
}

.panelField .icon-success:before{
  color: #6fb55b;
  animation: none;
}

.panelField .icon-error:before{
  color: #d84d4d;
  animation: none;
}

.panelField.verifiable .inputField{
  padding-right: 24px;
}

.icon-plus:before{
  content: "\e805";
}

.icon-verifiable:before{
  content: "\e995";
}

.icon-success:before{
  content: "\e988";
}

.icon-error:before{
  content: "\e987";
}

.icon-cross:before{
  content: "\e80b";
}

.panelField .button-selector{
  width: 100%;
  margin-right: 7px;
}

.button-selector .button{
  padding-right: 24px
}

.panelField .button-selector .button{
  width: 100%;
  margin: 0;
}

.gwt-TextBox{
  width: 100%;
  line-height: 20px;
  box-sizing: border-box;
  padding: 3px 20px;
  background: rgb(247, 248, 250);
  border-bottom: 1px solid #ced2d7;
  box-shadow: 0 2px 8px -2px #bdbdbd inset;
}

.inputField.required,
.button.required{
  border: 1px solid #f54646;
}

/*  auto-add-value-comment widget */

.autoadd-vc-group{
  width: 100%;
}

.autoadd-vc-item{
  display: flex;
}

.autoadd-vc-item + .autoadd-vc-item{
  margin-top: 7px;
}

//.autoadd-vc-item .inputField{
//  margin-right: 7px;
//}

// value input field style
.autoadd-vc-item-v{
  margin-right: 7px;
}

// comment input field style
.autoadd-vc-item-c{
  width: 100%;
}

/************************/


/**
 TABLE
 */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: white/*#f6f7f8*/;

  .separator {
    text-align: center;
    background-color: #dee4e5;
    color: black;
    vertical-align: bottom;
  }
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  text-align: left;
  border-top: 0;
}

.table-hover .table > tbody > tr:hover {
  background-color: #f6f7f8;
}

.table > tbody > tr.selected, tr.selected:hover {
  background-color: #ddd;
}

.contacts {
  table {
    tbody {
      tr {
        height: 70px;
      }
    }
    .company {
      width: 15%;
    }
    .position {
      width: 15%;
    }
    .phone {
      width: 15%;
    }
    .email {
      width: 10%;
    }
  }
}

.issues {
  table {
    tbody {
      tr {
        height: 70px;
      }
    }
    .product {
      width: 10%;
    }
    .contacts {
      width: 15%;
    }
    .info {
    }
    .creation {
      width: 5%;
    }
    .manager {
      width: 10%;
    }
  }
}

/* table expandable width */

.no-width {
  width: 0%;
  opacity: 0;
}

.no-display {
  display: none;
}

.global-table-container {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  // временное решение
  height: calc(100% - 95px);
  overflow-x: auto;
}

.preview-container {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  right: 0;
}

.filter-container {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  right: 0;

  .panel {
    margin-left: 10px;
    padding: 10px 0;
    background: white;

    .body {
      display: inline-block;

      p {
        margin: 10px 0;
      }

      .buttons_group  [class*='col-'] {
        display: block;
        padding-top: 5px;
      }
    }
  }
}



/************************/


.badge {
  display: inline-block;
  min-width: 10px;
  padding: 0.5em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #5481c1;
  border-radius: 50%;
  font-size: 1.5em;

  > i {
    min-width: 1em;
  }
}


.form-group {
  margin-bottom: 10px;
}



/* inputSelector */

.input-selector {
  display: flex;
  width: 100%;
}

.input-selector .button {
  position: relative;
  border: 0;
  box-shadow: 0 0 1px 0 rgba(49, 65, 87, 0.4);
  width: 25px;
}

.input-selector .caret {
  top: 12px;
  right: 9px;
}

/****************/


.panelField .input-selector{
  margin-right: 7px;
}


.img-circle {
  border-radius: 50%;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.fixed {
  position: fixed;
}

td.info {
  word-break: break-word;
}

.dropdown-searchbox {
  position: relative;
}

.dropdown-searchbox:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f002";
  position: absolute;
  right: 10px;
  top: 5px;
}


/* issue editing */

.checkbox.no-space{
  white-space: nowrap;
}

[class*='col-'].right-sticking{
  float: right;
}

/****************/

.filter {
  margin-bottom: 10px;
}

/* Importance level */
.CRITICAL {
  color: #d84d4d;
}

.IMPORTANT {
  color: orange;
}

.BASIC {
  color: #5481c1;
}

.COSMETIC {
  color: #ced2d7;
}
/****************/

/* Status */
.CREATED {
  color: #d84d4d;
}

.OPENED {
  color: royalBlue;
}

.ACTIVE {
  color: blue;
}

.DONE {
  color: green;
}

.TEST_LOCAL {
  color: maroon;
}

.TEST_CUST {
  color: maroon;
}

.VERIFIED {
  color: black;
}
/****************/

.icon-importance {
  font-size: 1.11em !important;
  vertical-align: 0;
}
.icon-status {
  font-size: 1.22em !important;
  vertical-align: 0;
}



/**** RANGE PICKER ****/

.form-control {
  display: block;
  width: 100%;
  height: 26px;
  padding: 0px 10px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}


.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1
}

.form-control:-ms-input-placeholder {
  color: #999
}

.form-control::-webkit-input-placeholder {
  color: #999
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}

.input-group .form-control {
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.input-group-btn {
  position: relative;
  white-space: nowrap;
}

.input-group-btn:first-child > .btn {
  margin-right: -1px;
}

.input-group-btn:last-child > .btn {
  margin-left: -1px;
  height:28px;
}

.input-group-btn > .btn {
  position: relative;
}

.input-group-btn > .btn + .btn {
  margin-left: -4px;
}

.input-group-btn > .btn:hover,
.input-group-btn > .btn:active {
  z-index: 2;
}
