$danger_color: #d52020;

$info_dark_color: #5481c1;
$info_color: #42a5f5;
$info_light_color: #00bcd4;

$success_dark_color: teal;

$purple_color: #9675ce;
$error_color: #f54646;

body {
  background-color: rgb(249, 249, 249) !important;
  color: #383838;
}

.inline-block{
  display: inline-block;
}
.vertical-middle{
  vertical-align: middle;
}

.p-0 {
  padding: 0 !important
}

.p-10 {
  padding: 10px !important
}

.p-20 {
  padding: 20px !important
}

.p-30 {
  padding: 30px !important
}

.p-l-0 {
  padding-left: 0 !important
}

.p-l-5 {
  padding-left: 5px !important
}

.p-l-10 {
  padding-left: 10px !important
}

.p-l-20 {
  padding-left: 20px !important
}

.p-r-0 {
  padding-right: 0 !important
}

.p-r-5 {
  padding-right: 5px !important
}

.p-r-10 {
  padding-right: 10px !important
}

.p-r-20 {
  padding-right: 20px !important
}

.p-r-30 {
  padding-right: 30px !important
}

.p-r-40 {
  padding-right: 40px !important
}

.p-t-0 {
  padding-top: 0 !important
}

.p-t-10 {
  padding-top: 10px !important
}

.p-t-15 {
  padding-top: 15px !important
}

.p-t-20 {
  padding-top: 20px !important
}

.p-b-0 {
  padding-bottom: 0 !important
}

.p-b-10 {
  padding-bottom: 10px !important
}

.p-b-20 {
  padding-bottom: 20px !important
}

.p-b-30 {
  padding-bottom: 30px !important
}

.p-b-40 {
  padding-bottom: 40px !important
}

.m-0 {
  margin: 0 !important
}

.m-l-5 {
  margin-left: 5px !important
}

.m-l-10 {
  margin-left: 10px !important
}

.m-l-15 {
  margin-left: 15px !important
}

.m-l-20 {
  margin-left: 20px !important
}

.m-l-30 {
  margin-left: 30px !important
}

.m-l-40 {
  margin-left: 40px !important
}

.m-r-5 {
  margin-right: 5px !important
}

.m-r-10 {
  margin-right: 10px !important
}

.m-r-15 {
  margin-right: 15px !important
}

.m-r-20 {
  margin-right: 20px !important
}

.m-r-30 {
  margin-right: 30px !important
}

.m-r-40 {
  margin-right: 40px !important
}

.m-t-5 {
  margin-top: 5px !important
}

.m-t-0 {
  margin-top: 0 !important
}

.m-t-10 {
  margin-top: 10px !important
}

.m-t-15 {
  margin-top: 15px !important
}

.m-t-20 {
  margin-top: 20px !important
}

.m-t-30 {
  margin-top: 30px !important
}

.m-t-40 {
  margin-top: 40px !important
}

.m-b-0 {
  margin-bottom: 0 !important
}

.m-b-5 {
  margin-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px !important
}

.m-b-15 {
  margin-bottom: 15px !important
}

.m-b-20 {
  margin-bottom: 20px !important
}

.m-b-30 {
  margin-bottom: 30px !important
}

.m-b-40 {
  margin-bottom: 40px !important
}

.selectList {
  position: absolute;
  z-index: 10;
  left: 0;
  border: 1px solid #ced2d7;
  display: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
  box-shadow: rgba(136,153,178,0.68) 1px 1px 3px -1px;
  background: #fff;
  max-height: 319px;
  overflow: hidden;
}
.selectList.moreTop:before,
.selectList.moreBottom:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #71767d;
  z-index: 1;
  left: 0;
}
.selectList.moreTop:before {
  top: 0;
}
.selectList.moreBottom:after {
  bottom: 0;
}
.selectList .item {
  line-height: 28px;
  padding: 0 10px;
  cursor: pointer;
  display: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  color: #506177;
}
.selectList .item + .item {
  border-top: 1px solid #e9edee;
}
.selectList .item.hover {
  background: #f1f1f1;
}
.selectList .item.active {
  background: #5189d9;
  color: #fff;
  font-weight: bold;
}
.selectList .item.show {
  display: block;
}
.selectList.active {
  display: block;
}

.hide {
  display: none !important
}

.border-box {
  box-sizing: border-box;
}

/**   SORT BUTTON   **/
.button.empty {
  padding: 0;
  min-width: 30px;
  text-align: center;
  color: #84909e;
}
.button.empty.selected {
  width: 17px;
}
.button.empty.selected:after {
  margin-left: 0;
}


.checkbox {
  padding-left: 3px;
  display: inline-block;
  vertical-align: middle;
}

.checkbox label {
  padding-left: 7px;
  position: relative;
  cursor: pointer;
}

.checkbox label::before {
  -o-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  background-color: #ffffff;
  border-radius: 1px;
  border: 1px solid #ced2d7;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: .3s ease-in-out;
  width: 17px;
  outline: none !important;
  top: -2px;
}

.checkbox label::after {
  color: $info_dark_color;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  left: 1px;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -6px;
  width: 16px;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
  outline: thin dotted;
}

.checkbox input[type="checkbox"]:hover + label::after,
.checkbox input[type="checkbox"]:checked + label::after {
  content: "\e80c";
  font-family: 'icomoon';
  opacity: 1;
}

.checkbox input[type="checkbox"]:hover:not(:checked) + label::after {
  opacity: 0.6;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled + label::after {
  color: #c3c3c3;
}

.checkbox.single {
  cursor: pointer;

  .option-name {
    color: inherit !important;
    padding: 0 1em 0 0 !important;
    font-size: 90% !important;
  }

  label {
    padding-left: 0 !important;
  }

  label::after {
    padding-left: 0 !important;
  }
}

.checked-locale {
  display: inline-block;
  > div {
    display: inline-block;
  }
}


/** SELECTOR **/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.control-group {
  display: table;
  width: 100%;

  .btn-selector {
    display: table-cell;
    width: 100%;

    .btn {
      margin-right:0;
    }
  }
}

.btn.sorting_button {
  display: table-cell;
  width: 1%;
  padding: 0;
  min-width: 30px;
  border-left: 0;
  height: 28px;

  &.btn-down:after,
  &.btn-up-hovering:after{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f160";
  }

  &.btn-up:after,
  &.btn-down-hovering:after{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f161";
  }
}

/* DROPDOWN */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  text-align: left;
  list-style: none;
  box-sizing: border-box;
  background: #fff;
  box-shadow:  1px 1px 3px -1px rgba(136,153,178,0.68);
  -webkit-box-shadow: 1px 1px 3px -1px rgba(136,153,178,0.68);
  border: 1px solid #ced2d7;
  border-top: 0;
  margin-top: 1px;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-menu ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333;
  white-space: normal;
}

.dropdown-menu ul > li > a > img {
  margin-right: 12px;
  float: left;
  margin-top: 2px;
  top: 0;
}

.not-active,
.dropdown-menu ul > li > a.not-active {
  color: #b6b6b6;
}

i.ban {
  color: #ff8579;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.dropdown-menu ul > li > a:focus,
.dropdown-menu ul > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu ul > li > a.not-active:focus,
.dropdown-menu ul > li > a.not-active:hover {
  color: #A2A2A2;
  i.ban {
    color: #EB7777;
  }
}

.dropdown-menu ul > li:not(:first-child ) {
  border-top: 1px solid #e9edee;
}

/** LOCAL SEARCH **/
.local-search {
  position: relative;
  color: #a5acb5;
}

.local-search input { padding-right: 25px; }

.icon {
  display: inline-block;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.local-search .local-search-icon {
  position: absolute;
  top: 10px;
  right: 8px;
  font-weight: 600;
}

.local-search-icon:before {
  content: "\e904";
}

.local-search-options-container, .single-option-container {
  .warning {
    display: inline-block;
    padding: .3em 0 0 0;
    font-size: 0.9em;
    color: $danger_color;
    line-height: 1em;
    font-weight: bold;
  }
  .toggle {
    cursor: pointer;
    .checkbox {
      label {
        padding-left: 0;
      }
    }
    .option-name {
      padding: 0;
      font-size: 0.9em;
      color: inherit;
    }
  }
}

.edit-icon {
  font-size: 14px;
}

.edit-icon:before {
  content: "\e915";
}

/** GLOBAL SEARCH **/
.gl-search {
  position: relative;
  width: 434px;
  margin: 0 !important;
  height: 42px;
}
.gl-search-input {
  height: 34px;
  width: 0;
  padding: 0 44px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.7s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 0;
  color: white;
  font-size: 18px;
}

.gl-search-input-open {
  width: 400px;
  z-index: 1;
  border-bottom: 2px solid #82a9e1;
}

.gl-search-button,
.gl-close-button {
  background: $info_dark_color;
  border: none;
  height: 34px;
  width: 34px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;
  font-family: 'icomoon';
  font-size: 22px;
  color: #82a9e1;
}

.gl-search-button:hover,
.gl-close-button:hover {
  color: #ffffff;
}

.gl-search-button:before {
  content: "\e904";
}

.gl-close-button:before {
  content: "\e80e";
  font-size: 16px;
  font-weight: bold;
}

/** CLEANABLE SEARCH **/
.cleanable-search {
  position: relative;
}

.cleanable-search input { padding-right: 28px !important; }

.cleanable-search .cleanable-search-icon {
  position: absolute;
  font-weight: 600;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  margin-right: 0;
  color: #a5acb5 !important;
}

.cleanable-search-icon:before {
  content: "\e904";
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 29px;
}

.cleanable-search-icon.clear:before {
  content: "\2716";
  cursor: pointer;
}

.cleanable-search-icon.clear:hover:before,
.cleanable-search-icon.clear:active:before {
  color: #314157 !important;
}

/** ENTERABLE TEXT BOX **/
.enterable-text-box {
  position: relative;
}

.enterable-text-box input { padding-right: 28px !important; }

.enterable-text-box .enterable-text-box-icon {
  position: absolute;
  font-weight: 600;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  margin-right: 0;
  color: #a5acb5 !important;
  cursor: pointer;
}

.enterable-text-box-icon:before {
  content: "\21B5";
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 29px;
}

/* TREE STATE BTN */

.tree-state-btn {
  position: relative;
  display: block;
  height: 30px;
  background: white;
  border: 1px solid #ccc;
  overflow: hidden;

  > div {
    position: relative;
    display: inline-block;
    float: left;
    width: 33.33%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-animation: 6s rot-label ease-in-out infinite;
    -moz-animation: 6s rot-label ease-in-out infinite;
    -o-animation: 6s rot-label ease-in-out infinite;
    animation: 6s rot-label ease-in-out infinite;

    &.active {
      color: white;
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .toggle {
    position: absolute;
    display: block;
    width: 33.33%;
    height: 30px;
    z-index: 0;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #4270b1;
    box-shadow: #4270b1 0 0 0 16px inset;
  }

  .tree-state-btn-yes.active ~ .toggle {
    left: 0;
  }

  .tree-state-btn-not-defined.active ~ .toggle {
    left: 33.33%;
  }

  .tree-state-btn-no.active ~ .toggle {
    left: 66.66%;
  }
}


/* OVERRIDED STYLES! */
.header_global > .rightBlock .topicTitle {
  //background: #F3F1F4 none !important;
}


label {
  //vertical-align : top;
  line-height : 25px;
}

label.required:after {
  content: "*";
  color : red;
  padding-left: 4px;
}

.inputField {
  width: 100%;
  box-shadow: rgba(49, 65, 87, 0.4) 0px 0px 1px 0px;
  line-height: 28px;
  height: 28px;
  border: 0;
  max-height: none;
}

.input-field.description {
  min-height: 200px;
}

.input-field.comment {
  min-height: 100px;
}

.panelField{
  display: flex;
  position: relative
}

.grid-indent{
  margin: 0 -7px;
}

[class*='col-'] [class*='col-']{
  padding: 0;
}

.grid-indent > [class*='col-']{
  padding: 0 7px !important;
  box-sizing: border-box;
}
.panelField .label{
  padding: 0 12px;
  background: #a9b4bb;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff;
  font-weight: bold;
  line-height: 28px;
}

.inputField.rightIndent{
  margin-right: 7px;
}


label.bordered{
  position: relative;
  display: block;
}

label.bordered:after{
  content: "";
  height: 1px;
  position: absolute;
  background: #c1c9cd;
  left: 130px;
  top: 50%;
  right: 0;
}

.panelField .email{
  width: 120%;
}

.panelField .icon-verifiable:before ,
.panelField .icon-success:before ,
.panelField .icon-error:before {
  vertical-align: middle;
  position: absolute;
  right: 5px;
  font-size: 18px;
  top: 50%;
  line-height: 0;
  color: #a2acb3;
  animation: animation-8 1s linear 0s infinite normal forwards running;
}

.panelField .icon-success:before{
  color: #6fb55b;
  animation: none;
}

.panelField .icon-error:before{
  color: #d84d4d;
  animation: none;
}

.panelField.verifiable .inputField{
  padding-right: 24px;
}

.icon-plus:before{
  content: "\e805";
}

.icon-verifiable:before{
  content: "\e995";
}

.icon-success:before{
  content: "\e988";
}

.icon-error:before{
  content: "\e987";
}

.icon-cross:before{
  content: "\e80b";
}

.panelField .button-selector{
  width: 100%;
  margin-right: 7px;
}

.button-selector .button{
  padding-right: 24px
}

.panelField .button-selector .button{
  width: 100%;
  margin: 0;
}

.input-field.required,
.btn.required
{
  border: 1px solid $error_color !important;
}

.filter-container .form-group.required {
  .multi-input-select {
    border: 1px solid $error_color !important;
  }
  label {
    color: $error_color !important
  }
}

/*  auto-add-value-comment widget */
.autoadd-vc-group {
  width: 100%;

  .autoadd-vc-item + .autoadd-vc-item{
    margin-top: 7px;
  }

  .autoadd-vc-item {
    display: flex;

    .autoadd-vc-item-v,
    .autoadd-vc-item-c,
    .btn-selector {
      width: 100%;
    }

    .autoadd-vc-item-v,
    .btn-selector {
      margin-right: 7px;
    }
  }
}
/************************/


/**
 TABLE
 */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: white/*#f6f7f8*/;

  .separator {
    text-align: center;
    background-color: #dee4e5;
    color: black;
    vertical-align: bottom;
  }
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  text-align: left;
  border-top: 0;
  text-transform: uppercase;
  word-spacing: 0.15em;
}

.table-hover .table > tbody > tr:hover {
  background-color: #f6f7f8;
}

.table > tbody > tr.selected, tr.selected:hover {
  background-color: #ddd;
}

.table-pager {
  height: 30px;
  background-color: gray;

  a {
    color : #fff;
  }
}

.table-pager > div:first-child {
  margin-left: 20px;
  margin-right: 0px;
}
.table-pager > div {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  margin-top: 6px;
}

.contacts {
  table {
    tbody {
      tr {
        td {
          height: 70px;

          > div {
            height: 70px;
            max-height: 70px;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .company {
      width: 40%;
    }
  }
}

.equipment {
  table {
    thead {
      .equipment-type-column {
        width: 90px;
      }
      .equipment-number-column {
        min-width: 175px;
      }
    }
    tbody {
      tr {
        td {
          height: 75px;

          > div {
            height: 75px;
            max-height: 75px;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .equipment-type-column {
          text-align: center;

          img {
            height: 50px;
            padding: 0 8px;
          }
        }
      }
    }
  }
}


.short-table-view {
  .issues {
    .contacts {
      display: none;
    }
    .manager {
      display: none;
    }
  }
}

.issues {
  table {
    tbody {
      tr {
        td {
          height: 70px;

          div {
            height: 70px;
            max-height: 70px;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          small {
            font-size: 85%;
          }

          p {
            margin: 0;
            font-size: 85%;
          }

          label {
            font-weight: 600;
            line-height: inherit;
            vertical-align: inherit;
          }
        }
      }
    }
    .number {
      width: 10%;
      text-align: center;
      .number-size {
        font-size: 22px;
      }
    }
    .contacts {
      width: 15%;
    }
    .manager {
      width: 15%;
    }
    .info {
      max-width: 20px; // заставить Firefox пересчиать ширину данной колонки PORTAL-205 (иначе растягивает по содержимому за пределы видимой области. 20px - условная величина.)
    }
    .attachment{
      width: 20px;
    }
    .edit{
      width: 30px;
    }
  }
}

.issue-main-info {
  display: flex;

  .issue-number {
    max-width: 15%;
    border-right: none;
  }
}


.companies {
  table {
    tbody {
      tr {
        td {
          height: 70px;
          >div {
            height: 70px;
            max-height: 70px;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .company-name{
      font-weight: bold;
    }
    .company-main-info {
      width: 50%;
    }
    .company-category {
      vertical-align: top !important;
      width: 15%
    }
    .company-group {
      vertical-align: top !important;
      width: 25%;
    }
    .contacts{
      i{
        padding-right: 5px;
      }
    }
  }
}



.products {
  table {
    thead {
      .dev-unit-type-column {
        width: 90px;
      }
    }
    tbody {
      tr {
        td {
          height: 70px;
          >div {
            height: 70px;
            max-height: 70px;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .dev-unit-type-column {
          text-align: center;

          img {
            height: 50px;
            padding: 0 8px;
          }
        }
      }
    }
    .product-name{
      width: 90%;
    }
  }
}

.dev-unit-type-list-image {
  position: absolute;
  display: block;
  font-size: 6em;
  bottom: 10px;
  right: 20px;
  height: 60px;
}

.issue-reports {
  table {
    tbody {
      tr {
        td {
          height: 70px;

          div {
            height: 70px;
            max-height: 70px;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          small {
            font-size: 85%;
          }

          p {
            margin: 0;
            font-size: 85%;
          }

          label {
            font-weight: 600;
            line-height: inherit;
            vertical-align: inherit;
          }
        }
      }
    }
    .number {
      width: 10%;
      text-align: center;
      .number-size {
        font-size: 22px;
      }
    }
    .info {
      width: 35%;
    }
    .filter {
      width: 40%;
    }
  }
}

/* table expandable width */

.no-width {
  width: 0%;
  opacity: 0;
}

.no-display {
  display: none;
}

.global-table-container {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.global-table-container.dashboard-table {
  // временное решение, отображение таблиц обращений в дашборде
  height: calc(100% - 95px);
  overflow-x: auto;
}

.pager-container{
  position: sticky;
  position: -webkit-sticky;
  bottom: 1px;
}

.preview-container {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  right: 0;
}

.preview-container .preview-wrapper.fixed{
  top: 15px;
  margin-right: 15px;
}

.filter-container {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  right: 0;
  position: relative;

  .panel {
    margin-left: 10px;
    padding: 10px 0;
    background: white;

    .body {
      display: inline-block;

      p {
        margin: 10px 0;
      }

      .buttons_group  [class*='col-'] {
        display: block;
        padding-top: 5px;
      }
    }
  }
}

.filter-container .panel .body .buttons_group {
  width: 100%;
  margin-top: -5px;
}

.filter-container .panel.fixed{
  top: 15px;
  margin-right: 15px;
}

.preview-wrapper,
.filter-container .panel{
  overflow-y: auto;
  box-sizing: border-box;
  max-height: calc(100vh - 30px); // 30px = top offset (15px) + bottom offset (15px)
  position: relative;
  z-index: 0;
}
.filter-container .panel.fixed{
  position: fixed !important;
}

/**** Collapsable filter ****/
.grid {
  position: relative;
}

.filter-collapsable {

  > .collapsed {
    display: none;

    > .header {
      vertical-align: bottom;
      text-align: left;
      text-transform: uppercase;
      word-spacing: 0.15em;

      > .btn {
        padding: 8px 8px;
        position: relative;
        line-height: 1.42857143;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        border: none;

        > span {
          height: initial;
          margin: 6px;
        }
      }
    }
  }

  > .full {
    display: block;

    > .header {
      border-bottom: 2px solid #ddd;
      vertical-align: bottom;
      text-align: left;
      text-transform: uppercase;
      word-spacing: 0.15em;

      > * {
        padding: 8px;
        position: relative;
        line-height: 1.42857143;
      }

      > label {
        float: left;
      }

      > .btn {
        float: right;
        border: none;
        padding: 10px 16px 7px 16px;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}

.filter-container.collapsed {
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  right: 0;

  * {
    height: 100%;
  }

  > .filter-collapsable {
    padding-bottom: 0;

    > .collapsed {
      display: block;
    }

    > .full {
      display: none;
    }
  }

  > .filter-collapsable.fixed {
    width: 40px;
  }
}

.global-table-container.filter-collapsed {
  width: calc(100% - 50px) !important;
}

/************************/


.badge {
  display: inline-block;
  min-width: 10px;
  padding: 0.5em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $info_dark_color;
  border-radius: 50%;
  font-size: 1.5em;

  > i {
    min-width: 1em;
  }
}



/* inputSelector */

.input-selector {
  display: flex;
  width: 100%;
}

.input-selector .button {
  position: relative;
  border: 0;
  box-shadow: 0 0 1px 0 rgba(49, 65, 87, 0.4);
  width: 25px;
}

.input-selector .caret {
  top: 12px;
  right: 9px;
}

/****************/


.panelField .input-selector{
  margin-right: 7px;
}


.img-circle {
  border-radius: 50%;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.fixed {
  position: fixed;
}

td.info {
  word-break: break-word;
}

.dropdown-searchbox {
  position: relative;
}

.dropdown-addbutton {
  position: relative;
}

.dropdown-addbutton > button {
  width: 100%;
  text-align: left;
  background: white;
  border-color: transparent;
  color: #3c8dbc;
  padding: 6px 6px 6px 28px;
  font: 400 12px system-ui;
  cursor: pointer;
}

.dropdown-addbutton > button:before {
  font: normal normal normal 22px/1 FontAwesome;
  content: "\002B";
  position: absolute;
  left: 0;
  top: 0;
  padding: 1px 8px 6px 8px;
  color: #47cfa9;
}

.dropdown-addbutton > button:hover, .dropdown-addbutton > button:active {
  background-color: #f5f5f5;
}

/* issue editing */

.checkbox.no-space{
  white-space: nowrap;
}

[class*='col-'].right-sticking{
  float: right;
}

/****************/

.filter {
  margin-bottom: 10px;
}

/**** IMPORTANCE LEVEL ****/
.critical {
  color: #ef5350 !important;
}

.important {
  color: #ffa726 !important;
}

.basic {
  color: $info_color !important;
}

.cosmetic {
  color: #607D8B !important;
}
/****************/

/**** COMPANY CATEGORY  ****/

.category {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: teal;
}

.category-lg {
  font-size: 2em;
  line-height: .75em;
  /*vertical-align: -15%*/
}

.icon-partner:before {
  font-family: FontAwesome, serif;
  content: "\f2b5";
}

.icon-subcontractor:before {
  font-family: Ionicons, serif;
  content: "\f212";
}

.icon-customer:before {
  font-family: Ionicons, serif;
  content: "\f353";
}

.icon-home:before {
  font-family: Ionicons, serif;
  content: "\f448";
}


/**** STATES ****/
.state-created {
  color: #ef5350 !important;
}

.state-opened {
  color: $info_color !important;
}

.state-active {
  color: $info_light_color !important;
}

.state-done {
  color: #4caf50 !important;
}

.state-test_local,
.state-test_cust {
  color: #906094 !important;
}

.state-verified {
  color: #607D8B !important;
}
/****************/

.none-vertical-align {
  vertical-align: 0 !important;
}

.text-semibold {
  font-weight: 600;
}

.text-semimuted {
  color: #b6b6b6;
}

.small {
  font-size: 85% !important;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/*** LABELS OF STATES ***/
.label-created,
.label-draft_project,
.option-draft_project .option-name,
.option-created .option-name {
  background-color: #ef5350;
}

.case-created {
  color: #ef5350;
  font-weight: bold;
}


.label-opened, .label-workaround, .label-info_request,
.label-technical_project,
.option-technical_project .option-name,
.option-opened .option-name,
.option-workaround .option-name,
.option-info_request .option-name {
  background-color: $info_color;
}

.option-cust_pending .option-name, .label-cust_pending {
  background-color: #133aadcf;
}

.case-cust_pending {
  color: #133aadcf;
  font-weight: bold;
}

.case-opened,.case-workaround,.case-info_request {
  color: $info_color;
  font-weight: bold;
}

.label-active,
.label-rkd_prototype,
.option-rkd_prototype .option-name,
.option-active .option-name {
  background-color: $info_light_color;
}

.case-active {
  color: $info_light_color;
  font-weight: bold;
}

.label-done,
.label-rkd_product,
.option-rkd_product .option-name,
.option-done .option-name {
  background-color: #4caf50;
}

.case-done {
  color: #4caf50;
  font-weight: bold;
}

.label-test_local,
.label-test_cust,
.option-test_local .option-name,
.option-test_cust .option-name {
  background-color: #906094;
}

.case-test_local,
.case-test_cust {
  color: #906094;
  font-weight: bold;
}

.label-verified,
.option-verified .option-name{
  background-color: #607D8B;
}

.case-verified {
  color: #607D8B;
  font-weight: bold;
}

.option-name {
  display: inline-block;
  padding: .2em .6em .3em;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  border-radius: .25em;
  font-size: 76%;
}

.label-report-created,
.option-report-created {
  background-color: #ef5350;
}

.label-report-process,
.option-report-process {
  background-color: $info_color;
}

.label-report-ready,
.option-report-ready {
  background-color: #4caf50;
}

.label-report-error,
.option-report-error {
  background-color: #906094;
}

  /****************/

.width-xs {
  min-width: 100px;
}

.text-center {
  text-align: center;
}


.bold {
  font-weight: bold;
}

a {
  color: teal;

  &:hover {
    color: #004040;
  }
}


.contact-record {
  line-height: 25px;

  label {
    font-size: 0.9em;
    color: #797979;
  }

  i {
    padding-right: 7px;
    font-size: 1.2em;
    color: #365c92;
  }
}

.contact-position {
  font-size: 0.9em;
  color: #8b8b8b;
}



.btn.private-btn {
  padding: 0;
  min-width: 30px;
  border-left: 0;
  height: 28px;

  &.btn-up {
    background-color: teal !important;
  }

  &.btn-down:after,
  &.btn-up-hovering:after{
    font-family: "Ionicons";
    content: "\f200";
    font-size: 1.6em;
  }

  &.btn-up:after,
  &.btn-down-hovering:after{
    font-family: "Ionicons";
    content: "\f254";
    font-size: 1.6em;
  }
}



/**** Dashboard ****/

.dashboard .table th {
  border-bottom: 1px solid #dee4e5;
  font-size: 9px;
  color: #989898;
  background: #eceeee;
}

.dashboard section .global-table-container{
  background: white;
  height: 376px;
}

.dashboard section {
  width: 100%;
}

.dashboard [class *= "col-"]{
  box-sizing: border-box;
}

.dashboard .global-table-container{
  background: white;
  height: 100%;
}

.dashboard .issues table .number .number-size {
  font-size: 16px;
}

.dashboard .table{
  margin-bottom: 0;
  table-layout: fixed;
}

.dashboard .info > div{
  position: relative;
}

.dashboard .issue-description{
  max-height: 4.26em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard .info label{
  display: inline-block;
}
/*.dashboard .text-semimuted {
  position: absolute;
  top: 1px;
  right: 0;
}*/

.dashboard-section-name {
  padding-left: 15px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  line-height: 30px;
  display: block;
  overflow: hidden;
}

.dashboard-active-records .dashboard-section-name{
  background: #436eaa;
}
.dashboard-new-records .dashboard-section-name{
  background: #bf3f3f;
}
.dashboard-completed-records .dashboard-section-name{
  background: #338947;
}

.dashboard-importance-filter-btn + .dashboard-importance-filter-btn{
  border-left: 1px solid #eceeee;
}

.dashboard-section-name .btn-group{
  vertical-align: top;
}

.dashboard .issues table .number {
  width: 65px;
}

.dashboard .issues table .info {
  width: 80%;
}

.dashboard .col-sm-12:not(:first-child){
  margin-top: 15px;
}

.dashboard-total-count{
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-left: 4px;
  line-height: normal;
  border-radius: 5px;
  font-size: 10px;
}

.dashboard-section-name .rightSide{
  float: right;
  height: 30px;
  line-height: 30px;
}

.dashboard-importance-filter-btn{
  display: block;
  padding: 0 8px;
  cursor: pointer;
  background: #eceeee;
  color: #c9d0d1;
  text-shadow: 1px 1px white;
  height: 30px;
  float: left;
  vertical-align: middle;
  line-height: 28px;
}
.dashboard-importance-filter-btn:hover,
.dashboard-importance-filter-btn.active{
  background: linear-gradient(to top, #f1f1f1, #ffffff);
}

.dashboard-importance-filter-btn:not(.active) .importance{
  color: #c9d0d1 !important;
}

.dashboard-importance-filter-btn .importance-level {
  display: inline-block;
  vertical-align: middle;
}

.dashboard .Loader{
  background-image: linear-gradient(45deg,
          rgba(143,162,186,0.5) 25%,
          rgba(255,255,255,0.5) 25%,
          rgba(255,255,255,0.5) 50%,
          rgba(143,162,186,0.5) 50%,
          rgba(143,162,186,0.5) 75%,
          rgba(255,255,255,0.5) 75%,
          rgba(255,255,255,0.5)
  );
}

.dashboard .manager {
  display: none;
}

.dashboard-btn {
  display: inline-block;
  vertical-align: top !important;
  background: transparent !important;
  border: none !important;
  color: white !important;
  width: 30px;
  height: 30px;
  padding: 0 !important;
  i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    text-align: center;
  }
}

.dashboard-search-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: top;
}

@media (min-width: 1400px) {
  .dashboard-active-records {
    margin-top: 0 !important;
  }
  .dashboard-new-records {
    padding-right: 7.5px;
  }
  .dashboard-completed-records {
    padding-left: 7.5px;
  }
}

.indicator {
  position: relative;
}

.indicator:after{
  content: "";
  position: absolute;
  background: white;
  height: 20%;
  width: 20%;
  top: 12%;
  right: 12%;
  border-radius: 50%;
}

/**** case links ****/
.preview .case-link-icon {
  margin-top: 4px;
}
.case-links {
  .case-links-label {
    display: inline-block;
    float: left;
  }

  .case-links-container {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 0.8em;

    > div {
      position: relative;
      display: inline-block;
      outline: none;

      .case-link {
        position: relative;
        display: inline-block;
        margin: 3px 0 0 4px;
        text-align: center;
        height: 22px;
        line-height: 22px;
        cursor: pointer;

        .case-link-info {
          position: absolute;
          width: 500px;
          top: 100%;
          z-index: 1000;
          background: white;
          border: 1px solid #dadada;
          padding: 5px;
          cursor: auto;

          .case-info {
            height: 22px;

            h2 {
              text-align: left;
              line-height: 1em;
              margin: 0;
              font-size: 13px;
              color: #445367;
            }
          }

          .case-description {
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 0.9em;
            line-height: 0.9em;
          }
        }

        > * {
          float: left;
        }

        .case-link-close {
          height: 12px;
          width: 12px;
          padding: 5px 2px 5px 4px;
          font-size: 0.8em;
          color: inherit;
          cursor: pointer;
        }

        .case-link-text {
          padding: 0 2px 0 0;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:hover {
            text-decoration: underline;
            color: #365c92;
          }
        }

        .case-link-icon {
          height: 16px;
          width: 16px;
          margin: 2px 2px 2px 3px;
          line-height: 16px;
          background-color: #ededed;
          border: 1px solid #dadada;
          border-radius: 2px;
          text-align: center;
          vertical-align: middle;
          font-size: 0.8em;
          font-weight: bold;
        }

        .case-link-icon.link-crm {
          background-color: #4298ff;
          border: 1px solid #6dbbff;
          font-size: 7px;
          color: #ffffff;
        }

        .case-link-icon.link-crm-old {
          background-color: #4270b1;
          border: 1px solid #365c92;
          font-size: 8px;
          color: #ffffff;
        }

        .case-link-icon.link-you-track {
          background-color: #282828;
          border: 1px solid #f8228a;
          font-size: 10px;
          color: #ffffff;
        }
      }

      .case-link.without-link {
        cursor: not-allowed;

        .case-link-text:hover{
          text-decoration: none;
        }
      }
    }
  }

  .case-links-button {
    padding: 0;
    margin: 2px 0 2px 2px;

    i {
      position: relative;
      height: 26px;
      line-height: 26px;
      float: left;
      vertical-align: middle;
    }

    i:nth-child(1) {
      padding: 0 1px 0 8px;
    }

    i:nth-child(2) {
      font-size: 0.6em;
      padding: 0 8px 0 2px;
    }
  }
}

.case-link-popup {
  z-index: 1000;
  float: left;
  height: 30px;
  width: 320px;
  min-width: 160px;
  text-align: left;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(136, 153, 178, 0.68);
  -webkit-box-shadow: 0 1px 3px 0 rgba(136, 153, 178, 0.68);
  border: 1px solid #ced2d7;

  > .type-selector {
    position: relative;
    float: left;
    display: inline-block;
    width: 51px;
    height: 30px;

    button {
      padding: 0 8px 0 0;
      margin: -1px 0 0 -1px;
    }
  }

  > .remote-id-input {
    position: relative;
    float: left;
    display: inline-block;
    width: calc(100% - 47px);
    margin: -1px -1px 0 -3px;
  }
}

.type-selector-item,
.type-selector-item:hover,
.type-selector-item:active,
.type-selector-item:focus {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin: 2px;
  line-height: 22px;
  background-color: #ededed;
  border: 1px solid #dadada;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  font-weight: bold;
}

.type-selector-item.type-selector-crm,
.type-selector-item.type-selector-crm:hover,
.type-selector-item.type-selector-crm:active,
.type-selector-item.type-selector-crm:focus {
  background-color: #4298ff;
  border: 1px solid #6dbbff;
  color: #ffffff;
  font-size: 9px;
}

.type-selector-item.type-selector-crm-old,
.type-selector-item.type-selector-crm-old:hover,
.type-selector-item.type-selector-crm-old:active,
.type-selector-item.type-selector-crm-old:focus {
  background-color: #4270b1;
  border: 1px solid #365c92;
  color: #ffffff;
  font-size: 10px;
}

.type-selector-item.type-selector-youtrack,
.type-selector-item.type-selector-youtrack:hover,
.type-selector-item.type-selector-youtrack:active,
.type-selector-item.type-selector-youtrack:focus {
  background-color: #282828;
  border: 1px solid #f8228a;
  color: #ffffff;
  font-size: 12px;
}

.dropdown-menu {
  .type-selector-item {
    display: block;
    padding: 0;
  }
}

/**** Importance level icons ****/

.importance-btn {
  padding: 5px 10px 5px 5px !important;
}

.importance-item:not(.selector-val) {
  padding: 5px !important;
  > span {
    position: relative;
    float: left;
    line-height: 18px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.importance-level {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-color: #e6e6e6;

  &:before {
    content: "?";
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    color: #333333;
  }

  &.cosmetic {
    &:before {
      content: "C";
      color: #333333;
    }
    background-color: #e6e6e6 !important;
  }

  &.basic {
    &:before {
      content: "B";
      color: #333333;
    }
    background-color: #b7e281 !important;
  }

  &.important {
    &:before {
      content: "I";
      color: #333333;
    }
    background-color: #fed74a !important;
  }

  &.critical {
    &:before {
      content: "C";
      color: #ffffff;
    }
    background-color: #e30000 !important;
  }

  &.center {
    display: block;
    margin: 0 auto;
  }

  &.selector {
    position: relative;
    float: left;
    margin: 0 6px 0 0;
  }

  &.lg {
    width: 22px;
    height: 22px;
    &:before {
      width: 22px;
      height: 22px;
      line-height: 22px;
      font-size: 12px;
    }
  }
}

.case-importance-cometic {
  color: #7b7b7b;
  font-weight: bold;
}

.case-importance-basic {
  color: #7cc71d;
  font-weight: bold;
}

.case-importance-important {
  color: #eaba0c;
  font-weight: bold;
}

.case-importance-critical {
  color: #e30000;
  font-weight: bold;
}

/**** SITE FOLDER ****/

.sf-comment {
  min-height: 120px;
}

.sf-parameters {
  min-height: 80px;
}

.sf-list {
  margin: -5px !important;

  .sf-list-item {
    position: relative;
    width: 300px !important;
    height: 120px !important;
    /*max-width: 300px !important;*/
    margin: 5px !important;
    overflow: hidden;
    animation: animation-sf-shadow-fade-out 0.3s;
    display: flex;
    flex-direction: column;

    .sf-list-item-header {
      position: relative;
      margin: 10px 40px 10px 10px;
      line-height: 1.2em;

      > span {
        display: inline-block;
        width: 100%;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .sf-list-item-controls {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 36px;
      height: 100%;
      vertical-align: middle;
      text-align: center;

      > * {
        display: block;
        float: left;
        width: 20px;
        padding: 10px 8px;
        vertical-align: middle;
        text-align: center;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .sf-list-item-separator {
      position: relative;
      border-top: 1px solid #d3d3d3;
      margin: 0 46px 0 10px;
    }

    .sf-list-item-footer {
      position: relative;
      margin: 10px 40px 10px 10px;
      line-height: 1.2em;
      overflow: hidden;

      > span {
        display: inline-block;
        width: 100%;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }
  }

  .sf-list-item:hover, .sf-list-item:active {
    animation: animation-sf-shadow-fade-in 0.3s;
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
}

@-moz-keyframes animation-sf-shadow-fade-in {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
}
@-webkit-keyframes animation-sf-shadow-fade-in {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
}
@-o-keyframes animation-sf-shadow-fade-in {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
}
@keyframes animation-sf-shadow-fade-in {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
}
@-moz-keyframes animation-sf-shadow-fade-out {
  0% {
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
  100% {
    box-shadow: none;
  }
}
@-webkit-keyframes animation-sf-shadow-fade-out {
  0% {
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
  100% {
    box-shadow: none;
  }
}
@-o-keyframes animation-sf-shadow-fade-out {
  0% {
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes animation-sf-shadow-fade-out {
  0% {
    box-shadow: 1px 1px 2px 0 #cfd2d7;
  }
  100% {
    box-shadow: none;
  }
}

.autoadd-pi-group {
  width: 100%;

  .autoadd-pi-item + .autoadd-pi-item{
    margin-top: 7px;
  }

  .autoadd-pi-item {
    display: flex;

    .autoadd-pi-item-p,
    .autoadd-pi-item-d {
      width: 100%;
    }

    .autoadd-pi-item-p {
      margin-right: 7px;
    }
  }
}

.preview.site-folder {

  fieldset {
    min-width: 0;
  }

  .main-content {
    padding: 0;
  }

  .table-container > table.table {
    margin-bottom: 0;

    label {
      font-size: 0.9em;
      color: #797979;
    }
  }
}

.sf-detailed-list {
  margin: -5px !important;

  .sf-detailed-list-item {
    position: relative;
    width: 100% !important;
    height: initial !important;
    min-height: 22px;
    margin: 2px 0 !important;
    padding: 5px !important;
    overflow: hidden;
    border: none;
    box-sizing: border-box;

    .sf-detailed-list-item-content {
      position: relative;
      line-height: 1.2em;
      width: calc(100% - 28px);

      > span {
        display: inline-block;
        width: 100%;
        height: 1.2em;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > .comment {
        white-space: pre-wrap !important;
      }
    }

    .sf-detailed-list-item-controls {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 28px;
      height: 100%;
      vertical-align: middle;
      text-align: center;

      > * {
        display: block;
        float: left;
        width: 14px;
        padding: 8px 7px;
        vertical-align: middle;
        text-align: center;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    &:hover, &:active {
      background-color: #f6f7f8;
    }
  }
}

/**** PROJECTS ****/

.autoadd-ts-group {

  ul.select2-choices {
    padding-left: 8px !important;
  }

  .btn-selector {
    border: 1px solid #fff;

    button.btn-white {
      margin-top: initial !important;
    }
  }

  .btn.btn-flat:hover {
    border: 1px solid #c5cad0;
    background-color: white;
  }

  .select2-search-choice {
    margin: 3px 5px 3px 0 !important;
  }
}

/****************/

.text-danger {
  color: $danger_color;
}

.text-success {
  color: $success_dark_color;
}

.text-purple {
  color: $purple_color;
}


.dn {

}

.dn {
  .dn-container {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    .dn-separator {
      margin: 0 7px;
    }

    .dn-classifier-code {
      flex-shrink: 2;
      -webkit-flex-shrink: 2;
      min-width: 90px;
    }

    .dn-register-number, .dn-register-number-modifier {
      flex-shrink: 3;
      -webkit-flex-shrink: 3;
      min-width: 50px;
    }

    .dn-org-code {
      width: 55px;
      background: white;
    }

    .dn-reserve.btn {
      padding: 0;
      min-width: 30px;
      border-left: 0;
      height: 28px;

      &.btn-down:after,
      &.btn-up-hovering:after{
        font-family: "FontAwesome";
        content: "\f024";
        font-size: 1.6em;
        color: $danger_color;
      }

      &.btn-up:after,
      &.btn-down-hovering:after{
        font-family: "FontAwesome";
        content: "\f11d";
        font-size: 1.6em;
      }
    }

    input {
      font-family: GostARegular;
      font-size: 1.4em !important;
    }

    &.has-error {
      label {
        color: $error_color !important
      }

      input {
        @extend .required;
      }

      .dn-msg a {
        color: $error_color !important;
        text-decoration: underline !important;
      }
    }
  }
}

.decimal-number {
  font-family: GostARegular;
  font-size: 18px;
}

.document-name {
  font-size: 15px;
  display: inline-block;
  padding-right: 10px;
}

.du-type,
.eq-type,
.auth-type {
  line-height: 0 !important;
  > img {
    height: 35px;
    width: 35px;
  }
}

.eq-type-details {
  overflow: hidden;
  height: 55px;
  padding-top: 8px !important;
}

.du-selector-inline {
  .du-type {
    padding: 3px 5px !important;
    > img {
      width: 24px !important;
      height: 24px !important;
    }
  }
}


.privilege-entity-container, .privilege-entity-container > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.privilege-entity-container > label {
  width: 20%;
  margin-left: 10px;
  border-right: 1px solid lightgray;
}

.privilege-entity-container > div {
  width: 79%;
}

.privilege-entity-container > div > .checkbox, .privilege-entity-container > div > div {
  margin: auto;
  width: 50px;
  text-align: center;
}

ul.privileges {
  padding: 0;
  margin: 0;
}


.privilege-entity-container {
  border-bottom: 1px solid rgba(206, 210, 215, 0.5);
}

.privilege-entity-container:first-child {
  font-weight: bold;
}

.btn.privilege-btn {
  padding: 0;
  min-width: 30px;
  border-left: 0;
  height: 40px;
  font-size: 2.3em;
}

.btn.privilege-btn.btn-down:after,
.btn.privilege-btn.btn-up-hovering:after {
  font-family: "Ionicons";
  content: "\f383";
  color: teal !important;
}

.btn.privilege-btn.btn-up:after,
.btn.privilege-btn.btn-down-hovering:after {
  font-family: "Ionicons";
  content: "\f2d7";
  color: #cc2424 !important;
}

.btn.privilege-btn.btn-up-disabled:after,
.btn.privilege-btn.btn-down-disabled:after {
  font-family: "Ionicons";
  content: "\f2f4";
  color: rgb(218, 217, 217) !important;
}

.locked {
  color: $danger_color;
}

.accounts {
  table {
    tbody {
      tr {
        td {
          height: 35px;

          > div {
            height: 35px;
            max-height: 35px;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .type {
      width: 7%;
      text-align: center;
      > div > img {
        height: 35px;
        padding: 0 8px;
      }
    }
    .login {
      width: 40%;
    }
    .person {
      width: 40%;
    }
    .edit {
      width: 5%;
    }
  }
}

.short-table-view {
  .accounts {
    .login {
      width: 70%;
    }
    .person {
      display: none;
    }
  }
}

.list-item {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  background-color: white;
  .option-name {
    color: #686868;
    font-size: 100%;
    font-weight: normal;
  }
}

.list-item:hover {
  background-color: #f6f7f8;
}

.fa-1-9x {
  font-size: 1.9em !important;
}

.fa-1-5x {
  font-size: 1.5em !important;
}

.link-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
}

.no-margin {
  margin: 0px;
}

.user-official {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 1.3em;
}

.truncate-users {
  font-size: 12px;
  width: 330px;
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-word;
}

.truncate-users:hover {
  position: absolute;
  width: 85%;
  white-space: inherit;
  background-color: white;
  z-index: 1;
}

.user-dolznost {
  font-size: 1.3em;
}

.truncate-holder {
  height: 12px;
}

.truncate {
  font-size: 12px;
  width: 375px;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate:hover {
  position: absolute;
  width: 95%;
  white-space: inherit;
  background-color: white;
  z-index: 1;
}

.official-item {
  padding-bottom: 60px;
}

.modtooltip {
  position: relative;
}

.modtooltip > label {
  position: absolute;
  opacity: 0;
}

.modtooltip > input:focus + label {
  position: absolute;
  font-size: 10.5px;
  opacity: 1;
  transition: 0.2s;
  font-weight: normal;
  width: 25em;
  color: #4378c3;
  line-height: 8px;
  bottom: -15px;
  left: -30px;
}

.dn-add-button {
  float: right;
  padding-bottom: 12px;
  padding-right: 14px;
}

.caret-icon:after {
  content: "\f3d0";
  font-family: Ionicons;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -11px;
  font-size: 16px;
  line-height: 1;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.select2-container {
  border: 1px solid #ced2d7;
  width: initial;

  &:hover {
    border: 1px solid #ccc;
  }

  ul.select2-choices {
    list-style: none;
    /*margin-top:5px;*/
    padding-left: 10px;

    li.select2-search-choice {
      div {
        display: inline-block;
        width: initial;
      }

      a.select2-search-choice-close {
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;

        &:before {
          content: "\f00d";
        }
      }
    }
  }

  div.select2-button {
    button {
      background-color: white;
      text-align: left;
      height: 30px;
    }

    span.caret {
      width: initial;
      border: none;
    }
  }
}

.select2-float-buttons {

  div.select2-container {

    .select2-choices {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      float: right;
      width: calc(100% - 70px);
      min-height: 1px;
    }

    .select2-button {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      float: right;
      max-width: 70px;

      button {
        float: right;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.case-subscribers{
  div.select2-container{
    border: 0 !important;
    ul.select2-choices{
      padding-left: 0;
      margin-bottom: 5px;
      li.select2-search-choice{
        display: inline !important;
        padding-right: 10px;
      }
    }
    div.select2-button {
      button {
        background: teal;
        color: white;
      }
    }
  }
}

.issue-filter {
  padding-top: 0px !important;

  .user-filter {
    background: #f5f5f51a;
    border-bottom: 2px solid #dee4e5;
    padding: 15px;
  }

  .user-filter-name {
    text-align: left;

    :nth-child(2) {
      display:  inline-flex;

      a {
        border: 1px solid;
        border-color: #ced2d7 #c5cad0 #ced2d7;
        border-left: none;
        width: 16px;

        &:hover {
          background-color: #dee4e5;
        }

        span {
          margin-top: 4px;
        }
      }
    }
  }
}

.locale-box {
  display: inline-block;
  padding: 3px 2px;
  margin: 0 4px 0 0 !important;
  border-radius: 2px;
  background-color: #dadada;
  vertical-align: middle;
}

.report-title {
  vertical-align: middle;
}

.input-field-col {
  padding: 0 10px !important;
}

.case-state-preview{
  .btn-group{
    .btn{
      &.btn-white{
        border: none;

        &.active{
          background: #e4e6e7;
          border-color: #bfbfc0;
        }
      }
    }
  }
}

.document-creator-info {
  font-size: 0.7em;
  color: gray;
}

.components-selector {
  div.select2-container {
    border: 0 !important;
    ul.select2-choices {
      padding-left: 0;
      margin-bottom: 5px;
      li.select2-search-choice {
        display: inline !important;
        padding-right: 10px;
      }
    }
    div.select2-button {
      button {
        background: teal;
        color: white;
      }
    }
  }
}

.main-content-padding-0 {
  .main-content {
    padding: 0 !important;
  }
}

.employee-list-image {
  display: block;
  font-size: 6em;
  height: 135px;
  float: right;
  margin: 0 0 5px 5px;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.text-center{
  text-align: center;
}