@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y1drme");
  src: url("../fonts/icomoon.eot?y1drme#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?y1drme") format('truetype'), url("../fonts/icomoon.woff?y1drme") format('woff'), url("../fonts/icomoon.svg?y1drme#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}