

.chats {
  margin: 0;
  padding: 12px 15px 15px;
  list-style: none;
}

.chats ul {
  font-size: 13px;
  line-height: 22px;
}

.chats > li {
  position: relative;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

.chats > li + li {
  margin-top: 5px
}

.chats > li:after, .chats > li:before {
  content: '';
  display: table;
  clear: both
}

.chats .name {
  color: #333;
  font-weight: 600;
  text-decoration: none
}

.chats a.name {
  display: block;
}

.chats .name .label {
  font-size: 8px;
  padding: 1px 4px 2px;
  margin-left: 3px;
  position: relative;
  top: -1px
}

.chats .date-time {
  display: block;
  float: right;
  color: #999;
}

.chats .image {
  float: left;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden
}

.chats .time-label {
  font-weight: bold;
  color: teal;
  display: inline-block;
}

.chats .image img {
  max-width: 100%
}

.chats .image + .message {
  margin-left: 60px
}

.chats .meta + .message {
  margin-left: 60px;
}

.chats .message {
  border: 1px solid #ccd0d4;
  padding: 7px 12px;
  font-size: 12px;
  position: relative;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 20px;
  color: #000;

  &.private-message {
    background-color: #fef6dd;
    border-color: #f9d35b;
  }


  .message-text {
    white-space: pre-wrap;
  }

  .form-control.time-elapsed {
    width: 190px;
    max-height: 31px;
    height: 31px;
    line-height: 31px;
    margin-left: 5px;
  }
}

.chats .message:after, .chats .message:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -14px;
  border: 7px solid transparent;
  border-right-color: #ccd0d4;
  height: 0px;
}

.chats .message:after {
  left: -13px;
  border-right-color: #fff
}

.chats {
  .message {
    .attachments {
      .visible-content {
        display: inline-block;
      }
    }
  }
}

.chats .left .date-time {
  float: left;
}

.chats .right .name {
  float: right;
}

.chats .right .info {
  float: right;
}

.chats .right .status {
  float: right;
}

.chats .right .image {
  float: right;
}

.chats .right .meta {
  float: right;
}

.chats .right .image + .message {
  margin-right: 75px;
  margin-left: 0
}

.chats .right .meta + .message {
  margin-right: 75px;
  margin-left: 0
}

.chats .right .message:after, .chats .right .message:before {
  left: auto;
  right: -14px;
  border-right-color: transparent;
  border-left-color: #ccd0d4
}

.chats .right .message:after {
  right: -13px;
  border-left-color: #fff
}

.chats .right .message.private-message:after,
.chats .right .message.private-message:before {
  left: auto;
  right: -14px;
  border-right-color: transparent;
  border-left-color: #f9d35b;
}

.chats .right .message.private-message:after {
  right: -13px;
  border-left-color: #fef6dd;
}

.chats {
  .left {
    .options {
      right: 110px;
    }
  }

  .right {
    .options {
      left: 110px;
    }
  }
  .options {
    font-size: 12px;
    display: block;
    position: absolute;
    top: 0;

    a {
      margin-right: 7px;
      color: #a7a5a5  !important;
      &:hover {
        color: teal !important;
      }
    }
  }

}

.chats-footer {
  border-top: 2px solid #cecece;
  padding: 15px;
  margin: 0 -15px -15px -15px;
  background: rgba(0, 128, 128, 0.1);

  .form-control {
    min-height: 100px;
  }
}

blockquote {
  border-left: 2px solid #015d5d;
  padding-left: 5px;
  color: #015d5d;
  padding: 0;
  margin: 0;
}

.new-message {
  textarea {
    border: none;
    padding: 0;
  }
}

.chats .message .message-preview {
  margin-top: 10px;

  > .message-preview-label {
    border-bottom: 1px solid #ccd0d4;
    margin-bottom: 10px;
    color: #686868;
    font-size: 0.9em;
  }
}


