.chats {
  margin: 0;
  padding: 12px 15px 15px;
  list-style: none;
}

.chats ul {
  font-size: 13px;
  line-height: 22px;
}

.chats > li {
  position: relative;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

.chats > li + li {
  margin-top: 5px
}

.chats > li:after, .chats > li:before {
  content: '';
  display: table;
  clear: both
}

.chats .name,
.chats .status {
  font-weight: 600;
  text-decoration: none;
  padding-left: 3.8em;
}

.chats a.name {
  display: block;
}

.chats .name .label {
  font-size: 8px;
  padding: 1px 4px 2px;
  margin-left: 3px;
  position: relative;
  top: -1px
}

.chats .date-time {
  display: inline-block;
  float: right;
  color: unset;
}

.chats .image {
  float: left;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -2px;
}

.chats .left .options {
  right: 0 !important;
}

.chats .time-label {
  font-weight: bold;
  color: $success_color;
  display: inline-block;
}

.chats .image img {
  max-width: 100%;
  margin-top: -3px;
  &.default-icon {
    margin-top: 0;
  }
}

.chats .image + .message {
  margin-left: 50px;
}

.chats .meta + .message {
  margin-left: 50px;
}

.chats .new-message .message {
  padding: 12px;
}

.chats .message {
  border: 1px solid rgba(0,0,0,.2);
  padding: 7px 12px;
  font-size: 12px;
  position: relative;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 20px;

  &.private-customer-message {
    background-color: #FEFBF5;
    border-color: #f9edbb;
  }

  &.private-message {
    background-color: #fef6dd;
    border-color: #f9d35b;
  }

  .message-input:focus {
    background-color: transparent;
  }

  .message-text {
    white-space: pre-wrap;
  }
}

.chats .message:after, .chats .message:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -14px;
  border: 7px solid transparent;
  border-right-color: rgba(0,0,0,.3);
  height: 0px;
}

.chats .message.private-message:after {
  border-right-color: #fef6dd;
}

.chats .message.private-customer-message:after {
  border-right-color: #FEFBF5;
}

.chats .message:after {
  left: -13px;
  border-right-color: #fff
}

.chats .message.private-message:before {
  border-right-color: #f9d35b
}

.chats .message.private-customer-message:before {
  border-right-color: #f9edbb
}

.chats {
  .message {
    .attachments {
      .visible-content {
        display: inline-block;
      }
    }
  }
}

.chats .left .date-time {
  float: none;
}

.chats.case-history .options a {
  margin-right: 0;
  margin-left: 7px;
}

.chats .right .date-time {
  float: left;
}

.chats .right .time-label {
  float: right;
  &:hover {
    cursor: pointer;
  }
}

.drop-zone {
  div {
    pointer-events: none;
    * {
      pointer-events: auto;
    }
  }
}

.drop-zone-active * {
  pointer-events: none;
}

.drag-overlay {
  background: white;
  height: 100%;
  width: 100%;
  opacity: .95;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  border-style: dashed;
  border-width: thin;
  border-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  legend {
    color: teal;
    width: auto;
  }
}

.chats .right .list-inline {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.chats .right .name {
  float: right;
}

.chats .right .info {
  float: right;
}

.chats .right .status {
  float: right;
}

.chats .right .image {
  float: right;
}

.chats .right .meta {
  float: right;
}

.chats .right .image + .message {
  margin-right: 50px;
  margin-left: 0
}

.chats .right .meta + .message {
  margin-right: 50px;
  margin-left: 0
}

.chats .right .message:after, .chats .right .message:before {
  left: auto;
  right: -14px;
  border-right-color: transparent;
  border-left-color: #b5b5b5
}

.chats .right .message:after {
  right: -13px;
  border-left-color: #fff
}

.chats .right .message.private-message:after,
.chats .right .message.private-message:before {
  left: auto;
  right: -14px;
  border-right-color: transparent;
  border-left-color: #f9d35b;
}

.chats .right .message.private-customer-message:after,
.chats .right .message.private-customer-message:before {
  left: auto;
  right: -14px;
  border-right-color: transparent;
  border-left-color: #f9edbb;
}

.chats .right .message.private-message:after {
  right: -13px;
  border-left-color: #fef6dd;
}

.chats .right .message.private-customer-message:after {
  right: -13px;
  border-left-color: #FEFBF5;
}

.chats {
  .left {
    .options {
      right: 155px;
    }
  }

  .right {
    .options {
      left: 155px;
    }
  }

  .options {
    font-size: 12px;
    display: block;
    position: absolute;
    top: 0;

    a {
      margin-right: 7px;
      color: #a7a5a5  !important;
      &:hover {
        color: teal !important;
      }
    }
  }

}

.chats-footer {
  border-top: 2px solid #cecece;
  padding: 15px;
  margin: 0 -15px -15px -15px;
  background: rgba(0, 128, 128, 0.1);

  .form-control {
    min-height: 100px;
  }
}

blockquote {
  border-left: 2px solid #015d5d;
  padding-left: 5px;
  color: #015d5d;
  padding: 0;
  margin: 0;
}

.new-message {
  textarea {
    border: none;
    padding: 0;
  }
}

.chats .message {
  margin-bottom: 10px;

  .message-preview {
    margin-top: 10px;

    > .message-preview-label {
      border-bottom: 1px solid #ccd0d4;
      margin-bottom: 10px;
      color: #686868;
      font-size: 0.9em;
    }
  }
}

.chats {
  li .message {
    transition: background-color 4s ease-out;
    -webkit-transition: background-color 4s ease-out;
    -moz-transition: background-color 4s ease-out;
    -o-transition: background-color 4s ease-out;
  }

  li.updated .message {
    border: 1px solid #4abc96;
    border-radius: 5px;
    background-color: #ecf8f4;
  }

  li.added .message {
    border: 1px solid #48b0f7;
    border-radius: 5px;
    background-color: #e7f5fe;
  }
}

.message-preview {
  .show-preview-btn {
    padding-left: 0;
    padding-top: 3px;
    min-width: 20px;
    border: 0;
    height: 20px;

    font-size: 12px;
    margin-top: -12px;
    background-color: transparent;

    &.btn-down:after, &.btn-up-hovering:after {
      font-family: "Font Awesome 6 Pro";
      content: "\f06e";
      font-size: 1.3em;
      color: $success_color;
      padding-left: 1.1px;
    }

    &.btn-up:after, &.btn-down-hovering:after {
      font-family: "Font Awesome 6 Pro";
      content: "\f070";
      font-size: 1.3em;
      color: $master_color;
    }
  }
}
