.list-group {
  margin: -7px -7px 0 -7px;
}
.list-group-item {
  padding: 7px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
}

.list-group-item >.wrapper {
  position: relative;
  background-color: #f6f7f8;
  border: 1px solid #fff;
  white-space: nowrap;
  box-shadow: 0 1px 4px 0px rgba(53,64,79,0.3);
  border-radius: 3px;
  z-index: 1;
  transition-duration: 0.5s;
  transition-property: padding;
  padding: 14px;
  overflow: hidden;
  height: 3em;
}
.list-group-item >.wrapper:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  content: "";
  right: 0;
  background-image: linear-gradient(to right, transparent, #f6f7f8 25px);
}
.list-group-item >.wrapper:hover {
  background-color: #fff;
  cursor: pointer;
}
.list-group-item >.wrapper:hover:after {
  background-image: linear-gradient(to right, transparent, #fff 25px);
}
.list-group-item >.wrapper.inactive:after {
  background-image: linear-gradient(to right, transparent, #dee4e5 25px) !important;
}

.list-group-create {
  @extend .list-group-item;

  .wrapper {
    //height: 3em;
    background-color: rgb(84, 129, 193);

    .name {
      color: white;
      font-size: 1.5em;
      margin-top: 0.4em;
    }

    &:after {
      background-image: none;
    }

    &:hover {
      background: rgb(118, 154, 219) none;

      &:after {
        background: rgb(118, 154, 219) none;
      }
    }
  }
}
