.notify-wrapper {
  z-index: 5000;
  position: fixed;
  top: 60px;
  right: 10px;

  .notify-item {
    width: 340px;
    display: block;
    background: rgba(39, 41, 48, 0.8);
    color: #eee;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
    position: relative;
    border-radius: 3px;
    padding: 15px 27px 15px 15px;

    &.notify-show {
      pointer-events: auto;
      -webkit-animation-name: animJelly;
      animation-name: animJelly;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }

    &.notify-hide {
      -webkit-animation-name: animFade;
      animation-name: animFade;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }

    .notify-close {
      float: right;
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      color: white;
      -webkit-appearance: none;
      padding: 0;
      cursor: pointer;
      background: 0 0;
      border: 0;
      position: relative;
      right: -16px;
      top: -8px;
    }

    .notify-content {
      .notify-title {
        padding: 0 0 8px 0;
        text-shadow: none;
        font-weight: 300;
        font-size: 17px;
      }

      p {
        text-shadow: none;
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
      }
    }
  }


  .default {
    background-color : cornflowerblue !important;
    color: #000000;
  }

  .error {
    background-color : palevioletred;
    color: #000000;
  }

  .success {
    background-color : palegreen;
    color: #000000;
  }

}

