.list_root {
  margin: 7px 7px 0 -7px;
}
.list_root >.item {
  padding: 7px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.list_root >.item >.wrapper {
  position: relative;
  background-color: #f6f7f8;
  border: 1px solid #fff;
  white-space: nowrap;
  box-shadow: 0 1px 4px 0px rgba(53,64,79,0.3);
  border-radius: 3px;
  z-index: 1;
  transition-duration: 0.5s;
  transition-property: padding;
}
.list_root >.item >.wrapper:hover {
  background-color: #fff;
  cursor: pointer;
}