@media (min-width: 992px){
  .header .toggle-sidebar{
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {
  body.menu-pin .page-container .page-content-wrapper .content {
    padding-left: 270px
  }
  body.menu-pin .page-container .page-content-wrapper .footer {
    left: 270px
  }

  body.menu-pin .page-sidebar {
    width: 270px;
    transform: translate(200px,0)!important;
  -webkit-transform: translate(200px,0)!important;
  -ms-transform: translate(200px,0)!important;
  }
  body.menu-pin .page-sidebar .sidebar-header .sidebar-header-controls {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px)
  }

  .header .brand{
    display: inline-block !important;
  }

  .header{
    padding-left: 0 !important;
  }

  .page-sidebar {
    width: 270px;
    left: -200px;
  }
}

@media (max-width: 991px){
  .page-sidebar{
    z-index: 1000;
  }

  .fix-sidebar-button{
    display: none !important;
  }

  .page-container .page-content-wrapper .content {
    overflow-x: inherit;
    height: auto
  }

}

@media (max-width: 991px) and (min-width: 980px) {
  body.menu-pin .page-sidebar {
    transform: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important
  }

  body.menu-pin .page-container .page-content-wrapper .content {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .page-sidebar .sidebar-header {
    height: 48px;
    padding-left: 30px !important;
    line-height: 48px !important;
  }
}

body.sidebar-visible .page-sidebar .sidebar-header .sidebar-header-controls {
  -webkit-transform: translate3d(17px, 0, 0);
  transform: translate3d(17px, 0, 0);
  -ms-transform: translate(17px, 0)
}

body.menu-pin .page-sidebar .menu-items .icon-thumbnail {
  -webkit-transform: translate3d(0px, 0, 0) !important;
  transform: translate3d(0px, 0, 0) !important;
  -ms-transform: translate(0px, 0) !important;
}

body.sidebar-visible .page-sidebar .menu-items .icon-thumbnail {
  -webkit-transform: translate3d(0px, 0, 0) !important;
  transform: translate3d(0px, 0, 0) !important;
  -ms-transform: translate(0px, 0) !important;
}

.fix-sidebar-button{
  padding-left: 2px !important;
  margin-left: 63px;
}

.closed-sidebar-controls {
  margin-left: 16px;
  .fix-sidebar-button{
    padding-right: 29px;
  }
}

.sidebar-closed-header {
  padding-right: 0 !important;
}

[data-toggle-pin=sidebar] > i:before {
  content: "\f111"
}

.header-padding{
  padding-left: 270px;
}

.header .toggle-sidebar{
  cursor: pointer;
}

.card .card-body.no-padding .row:not(.reset-no-padding) {
  margin-right: -15px;
  margin-left: -15px;
}

.fixed-sidebar[data-toggle-pin=sidebar] > i:before {
  content: "\f192"
}

.checkbox input[type=checkbox] {
  display: none;
}

.dropdown-menu > li:first-child, .dropdown-menu > .dropdown-item:first-child {
  padding-bottom: 7px;
}

.profile-dropdown.dropdown-menu > .dropdown-item:first-child {
  padding-bottom: 0;
  padding-top: 0;
}

.profile-dropdown.dropdown-menu > .dropdown-item,
.profile-dropdown.dropdown-menu > .dropdown-item > span > a.help {
  color: #505050 !important;
}

.profile-dropdown > a {
  opacity: unset !important;
}

.profile-dropdown.dropdown-menu {
  padding-top: 0.5rem;
}

.dropdown-menu > li:hover, .dropdown-menu > a.dropdown-item:hover, .dropdown-menu > li:focus, .dropdown-menu > a.dropdown-item:focus, .dropdown-menu > li:active, .dropdown-menu > a.dropdown-item:active {
  background-color: #f0f0f0;
}

.dropdown-menu > li, .dropdown-menu > .dropdown-item {
  color: #505050;
}

.radio input[type=radio] {
  display: none;
}

.page-sidebar{
  z-index: 1051;
}

.b-warning-light {
  border-color: #f9d975;
}

.page-sidebar .sidebar-menu .menu-items > li > a > .arrow:before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 600;
}

.page-sidebar .sidebar-menu .menu-items > li > a > .arrow {
  float: left;
  padding-right: 0;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
  display: block;
  webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: hidden;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li {
  padding: 0 20px 0 10px;
}

.page-sidebar .sidebar-menu .menu-items > li > a > .title,
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a > .title {
  vertical-align: middle;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a {
  padding: 0;
}

.page-sidebar .sidebar-menu .menu-items li:hover > a > .icon-thumbnail,
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li:hover > a > .icon-thumbnail {
  color: #fff;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a > .title {
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 75%;
  line-height: 30px;
}

.username,
.profile-dropdown-toggle {
  cursor: pointer;
}

.page-sidebar .sidebar-menu .menu-items {
  height: calc(100% - 20px);
}

.form-group-default.required:after, .tag-name-container:after, .tag-color-container:after {
  right: 10px;
  top: 2px;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .inner-content {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .inner-content {
    margin: 0;
  }
}

.container-child-striped-gray-white {

  > .container:nth-child(odd),
  > .container-fluid:nth-child(odd) {
    background-color: #FAFAFA;
  }

  > .container:nth-child(even),
  > .container-fluid:nth-child(even) {
    background-color: #FFFFFF;
  }
}
