ul.plate-list {
  padding: 0;
  margin: -7.5px;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;

  .plate-list-create {
    width: 200px;
    height: 180px;
    margin: 7.5px;
    display: block;
    background: teal;
    border: 1px solid #d3d3d3;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;

    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;

    &:hover {
      background: #005c5c;
    }

    div {
      text-align: center;
      img {
        width: 180px;
        opacity: 0.3;
      }
    }
  }

  li {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 400px;
    height: 180px;
    margin: 7.5px;
    display: block;
    background: white;
    border: 1px solid #ededed;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-font-smoothing: antialiased;
    padding-left: 0;

    &.inactive {
      .header-block {
        opacity: 0.7;
        position: relative;

        &:after {
          font: normal normal normal 14px/1 Font Awesome 6 Pro;
          content: "\f187";
          position: absolute;
          font-size: 4em;
          opacity: 0.25;
          bottom: 10px;
          right: 10px;
        }
      }
    }

    &.partner,
    &.customer,
    &.subcontractor,
    &.home{
      .header-block {
        &:after {
          position: absolute;
          font-size: 6em;
          opacity: 0.15;
          bottom: 0px;
          right: 20px;
          color: teal;
        }
      }
    }

    &.partner .header-block:after {
      font-family: "Font Awesome 6 Pro", serif;
      content: "\f2b5";
    }

    &.subcontractor .header-block:after {
      font-family: Ionicons, serif;
      content: "\f212";
    }

    &.customer .header-block:after {
      font-family: Ionicons, serif;
      content: "\f353";
    }

    &.home .header-block:after {
      font-family: Ionicons, serif;
      content: "\f448";
    }

    &.employee {
      height: auto;
      margin: 15px;
      .header-block {
        height: auto;

        & div {
          font-size: 11px;
          margin-bottom: 5px;
          line-height: 11px;
          &.employee-item-container {
            margin-top: 10px;
          }
        }
      }
    }

    .header-block {
      position: relative;
      padding: 1.5em;
      color: #686868;
      font-size: 1em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: 1;
      //width: calc(100% - 3em);
      height: calc(170px - 3em);
      top: 0;
      left: 0;

      &:before, &:after {
        pointer-events: none;
      }
      &:before {
        position: absolute;
        top: 0.6em;
        right: 1.4em;
        left: 1.4em;
        z-index: -1;
        height: 2.6em;
        background: gray;
        content: '';
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, 3.5em, 0) scale3d(1, 0.023, 1);
        transform: translate3d(0, 3.5em, 0) scale3d(1, 0.023, 1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
      }

      & > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

      h2 {
        text-transform: uppercase;
        word-spacing: 0.15em;
        font-weight: 300;
        font-size: 1.5em;
      }

      p {
        letter-spacing: 1px;
        padding: 0.3em;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.5;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);

        a {
          margin: 0.2em 0.4em;
          color: white;
          outline: none;
          text-decoration: none !important;

          &:hover,
          &:focus {
            opacity: 0.6;
          }
        }
      }

      h2, p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .contacts {
        font-size: 0.9em;
        margin-bottom: 5px;
        & > i {
          padding-right: 5px
        }
        & > b {
          padding-right: 5px
        }
        & > span > a+a:before {
          content: ', ';
        }
      }

      &.no-hover {
        &:before {
          display: none;
        }

        .border-line {
          border-bottom: 1px rgba(0, 0, 0, .3) solid;
        }
      }
      &:hover {
        &:before {
          opacity: 0.7;
          -webkit-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1);
          transform: translate3d(0, 4em, 0) scale3d(1, 1, 1);
        }

        p {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &.plate-list-expanded {
      transition: height 350ms ease;

      .plate-list-expander {
        width: calc(100% - 30px);
        transition: height 350ms ease;
        border: 1px solid #ededed;
        opacity: 1;
        z-index: 100;
      }
    }
    .plate-list-expander {
      position: absolute;
      top: auto;
      left: 15px;
      width: 100%;
      margin-top: 55px;
      text-align: left;
      overflow: hidden;
      background: white;
      opacity: 0;
      z-index: 0;
      box-sizing: border-box;
    }

    &.plate-list-entry-wallet {
      height: auto;
      padding: 0;
      border: none;
      background: transparent;
    }
  }
}

.employee-list-image {
  display: block;
  font-size: 6em;
  height: 135px;
  float: right;
  margin: 0 0 10px 5px;
}