.preview {
    padding: 15px;

    .pre-formatted-info {
        white-space: pre-wrap;
    }

    legend
    {
        color: #5481c1;
        padding:2px;
        margin-left: 14px;
        font-weight:bold;
        font-size: 16px;
        text-transform:uppercase;
    }

    label {
        color:#444;
        font-size: 14px;
        text-align: left;
    }

    fieldset {
        margin-left: 15px;

        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: black 1px solid;

        text-align: left;

        legend {
            padding-left: 10px;
            padding-right: 10px;
        }

        //div {
        //    width:100%;
        //}

        span {
            //line-height: 25px;
            vertical-align: baseline;

            color: #636363;

            p {
                margin: 0;
            }
        }

        &.header {
            width: calc(100% - 45px );
            padding-top: 5px;
            padding-left: 10px;
            float:left;
            border-top: 1px solid rgba(84, 129, 193, 0.44);
            margin-bottom:10px;

        }

        &.contacts {
            border-top:1px solid rgba(84, 129, 193, 0.44);
            border-right:1px solid rgba(84, 129, 193, 0.44);
            float:left;
            width: 400px;
            margin-right: 0;
            padding-left: 10px;
            padding-top: 5px;
            margin-bottom: 10px;

        }

        &.comments {
            border-top:1px solid rgba(84, 129, 193, 0.44);
            padding-top: 10px;
            padding-left: 10px;
            float:left;
            margin-left: 0;
            margin-bottom: 15px;
            width: calc(100% - 470px);
        }
    }

    &.full-screen {
        box-sizing: border-box;
    }

    .actions {
        > .btn {
            float: right;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

.preview-container {

    .preview {
        margin-left: 10px;
        padding: 15px;
        background: white;
        display: table;
        width: calc(100% - 40px);
        table-layout: fixed;
        top: 0;

        fieldset {
            margin-top: 0;
            margin-left: 0;
            width: calc(100% - 20px);
        }
    }

}

@media (max-width: 900px) {

    .preview {

        fieldset {

            &.contacts {
                width: calc(100% - 45px );
                border-right: 0px;
                margin-bottom:10px;
            }

            &.comments {
                width: calc(100% - 45px );
                margin-bottom:10px;
                margin-left: 15px;
            }
        }
    }

}

.issue-fullscreen .preview {
    padding: 0 !important;
}