// Spinners

$spinner-width:         2rem !default;
$spinner-height:        $spinner-width !default;
$spinner-border-width:  .25em !default;

$spinner-width-sm:        1rem !default;
$spinner-height-sm:       $spinner-width-sm !default;
$spinner-border-width-sm: .2em !default;

$spinner-width-md:        3rem !default;
$spinner-height-md:       $spinner-width-md !default;

//
// Rotating border
//

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.spinner-border {
  display: inline-block;
  width: $spinner-width;
  height: $spinner-height;
  vertical-align: text-bottom;
  border: $spinner-border-width solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: $spinner-width-sm;
  height: $spinner-height-sm;
  border-width: $spinner-border-width-sm;
}

.spinner-border-md {
  width: $spinner-width-md;
  height: $spinner-height-md;
}

//
// Growing circle
//

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: $spinner-width;
  height: $spinner-height;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
  width: $spinner-width-sm;
  height: $spinner-height-sm;
}

.spinner-grow-md {
  width: $spinner-width-md;
  height: $spinner-height-md;
}

.spinner-loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.spinner-issue-table {
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 50%;
}

@keyframes report-loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,100% {
    top: 24px;
    height: 32px;
  }
}

.report-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(0.4, 0.4);
  left: 206px;
  div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 8px;
    background: #008080;
    animation: report-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    &:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }
    &:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }
    &:nth-child(3) {
      left: 56px;
      animation-delay: 0s;
    }
  }
}




