.table-list {
  display: table;

  .list-head,
  .list-body {
    display: table-header-group;

    .item-row {
      display: table-row;

      &.selected {
        background-color: #ddd;
      }
      .item-cell {
        display: table-cell;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        background: #fff;
        border-bottom: 1px solid rgba(230,230,230,.7);
        font-size: 13.5px;
        &:hover {
          background-color: #f6f7f8;
        }
      }
    }
  }

  .list-head {
    .item-row {
      .item-cell {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
        text-align: left;
        border-top: 0;
        text-transform: uppercase;
        word-spacing: 0.15em;
        padding: 8px;
        line-height: 1.42857143;
        font-weight: 500;
        font-family: montserrat;
        font-size: 10.5px;
        letter-spacing: .06em;
        color: rgba(44,44,44,.35);
        &:first-child {
          padding-left: 18px!important;
        }
      }
    }
  }
}

.projects {
  .list-body {
    .item-cell {
      height: 60px;
    }
  }
  .item-cell {
    &.select {
      width: 3%;
    }
    &.created {
      width: 15%;
    }
    &.customer-type {
      width: 15%;
    }
    &.products {
      width: 25%;
    }
    &.name {
      width: 27%;
    }
    &.managers {
      width: 15%;
    }
  }
}