ul.table-list {
  padding: 0;
  margin: -7.5px;

  .table-list-create {
    width: 200px;
    height: 180px;
    margin: 7.5px;
    display: block;
    background: teal;
    border: 1px solid #d3d3d3;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;

    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;

    &:hover {
      background: #005c5c;
    }

    div {
      text-align: center;
      img {
        width: 180px;
        opacity: 0.3;
      }
    }
  }

  li {
    margin: 7.5px;
    display: block;
    background: white;
    border: 1px solid #d3d3d3;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-font-smoothing: antialiased;

    &.inactive {
      .header-block {
        opacity: 0.7;
        position: relative;

        &:after {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f187";
          position: absolute;
          font-size: 4em;
          opacity: 0.25;
          bottom: 10px;
          right: 10px;
        }
      }
    }

    &.partner,
    &.customer,
    &.subcontractor,
    &.home {
      .header-block {
        &:after {
          position: absolute;
          font-size: 6em;
          opacity: 0.15;
          bottom: 0px;
          right: 20px;
          color: teal;
        }
      }
    }

    &.employee {
      .header-block {
        display: flex;
        justify-content: space-between;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
          font-size: 1.2em;
          padding: 5px;
        }
        .photo {
          order: -1;

          .employee-list-image {
            height: 60px;
            width: 60px;
          }
        }
        .controls {
          order: 99;
          //position: absolute;
          //right: -100px;
        }
        .birthday {
          order: 90;
          //position: absolute;
          //right: -100px;
        }

      }
    }

    &.partner .header-block:after {
      font-family: FontAwesome, serif;
      content: "\f2b5";
    }

    &.subcontractor .header-block:after {
      font-family: Ionicons, serif;
      content: "\f212";
    }

    &.customer .header-block:after {
      font-family: Ionicons, serif;
      content: "\f353";
    }

    &.home .header-block:after {
      font-family: Ionicons, serif;
      content: "\f448";
    }

    //&:hover {
    //  .header-block {
    //   .controls {
    //      position:inherit;
    //      right:0;
    //
    //      transition: .6s ease-out;
    //      -webkit-transition: .6s ease-out;
    //    }
    //
    //  }
    //}

    .header-block {
      position: relative;
      padding: 0.5em;
      color: #686868;
      font-size: 1em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: 1;
      top: 0;
      left: 0;

      &:before, &:after {
        pointer-events: none;
      }

      & > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

      h2 {
        text-transform: uppercase;
        word-spacing: 0.15em;
        font-weight: 300;
      }

      p {
        letter-spacing: 1px;
        padding: 0.3em;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.5;
        //opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);

        a {
          padding: 4px;
          outline: none;
          text-decoration: none !important;
          font-size: 15px;

          &:hover,
          &:focus {
            opacity: 0.6;
          }
        }
      }

      h2, p {
        margin: 0;
        //white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .contacts {
        font-size: 0.9em;
        margin-bottom: 5px;
        max-width: 30%;
        & > i {
          padding-right: 5px
        }
      }
    }

    &.plate-list-expanded {
      transition: height 350ms ease;

      .plate-list-expander {
        transition: height 350ms ease;
        border: 1px solid #d3d3d3;
        opacity: 1;
        z-index: 10001;
      }
    }
    .plate-list-expander {
      position: absolute;
      top: auto;
      left: 0;
      width: 100%;
      margin-top: 29px;
      text-align: left;
      overflow: hidden;
      background: white;
      opacity: 0;
      z-index: 0;
      box-sizing: border-box;
    }
  }
}


