@import "common";
@import "plate-list";
@import "issue-comment";
@import "attachment";
@import "region";
@import "confirm";
@import "color-palette";
@import "spinners";
@import "display-table";
@import "dropzone";
@import "desk";
@import "quickview";
@import "birthday-calendar";
@import "pages";

/**
 * Overrides
 */

body,
h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 18px;
}

.btn.disabled, .btn[disabled] {
  pointer-events: none;
}

.page-sidebar {
  .sidebar-header {
    color: white !important;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 20px;
  }
  .sidebar-menu .menu-items {
    margin-top: 10px !important;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }
    & li {
      & a {
        padding-left: 15px !important;
        width: 100% !important;
      }
    }
  }
}

.header {
  .brand {
    font-size: 24px;
    color: #257ac0;
    left: 16px;
    text-transform: uppercase;
  }
}

.form-group-default div.cs-select {
  max-width: none !important;
}

.form-group-default.form-group-default-select2 {
  border: 0;
  > label {
    position: initial;
    padding: 0 30px 0 0;
  }
}

.form-control {
  padding-left: 12px;
  color: #5e5e5e;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.input-group-text {
  border-radius: 3px;
}

.rounded-right-3 {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.rounded-left-3 {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.btn-xs, .btn-group-xs > .btn {
  font-size: 12px !important;
}

.form-group-attached .disabled label {
  color: #b2b2b2;
  opacity: 1;
}

.login-wrapper {
  background-color: #257ac07a !important;

  .login-container-wrapper {
    padding: 100px 60px 0;
  }

  .icon {
    top: 85px;
    right: 70px;
    position: absolute;
    opacity: .05;
    font-size: 5em;
  }

  .brand {
    span {
      font-size: 34px;
      font-weight: 600;
      margin-left: 10px;
      color: #257ac0;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 50px;
      vertical-align: middle;
    }
  }
}

.inherit-color-checkbox-group .checkbox >*, .inherit-color, .inherit-color.toggle >*,
.inherit-color-checkbox-group .checkbox > div >* {
  color: inherit;
}

.checkbox input[type=checkbox]:checked+label::after {
  font-family: "Font Awesome 6 Pro", serif;
  font-weight: 900;
}

.full-screen-link{
  position: relative;
}

.card-fixed {
  position: sticky !important;
  top: calc(60px + 1rem) !important;
}

div.select2-container ul.select2-choices li.select2-search-choice a.select2-search-choice-close {
  font-weight: 900;
}

div.select2-container {
  &.has-error {
    border: 1px solid $error_color;
  }
}

.card .card-body > .row {
  margin-right: -15px;
  margin-left: -15px;
}

blockquote::before {
  content: '';
}

.locale-selector {
  list-style: none;
}

div.cs-skin-slide>span:after, div.cs-skin-slide.cs-active>span:after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
}

.form-group-default.form-group-default-selectFx .cs-wrapper .cs-placeholder {
  text-overflow: ellipsis;
}

.bootstrap-tagsinput .tag [data-role=remove]:after {
  font-family: "Font Awesome 6 Pro", serif;
  content: "\f00d";
}

.btn-cons-toolbar {
  min-width: 60px;
  font-size: 14px !important;
}

.document-approval-by,
.document-approval-date {
  height: 56px;
}

.fa.fa-clock-o {
  font-weight: 400;

  &:before {
    content: "\f017";
  }
}

// Pages calendar overrides
.calendar {
  padding-top: 1px; // fix margin offset

  .weeks-wrapper .week:last-child {
    padding-left: 30px;
  }

  .week-dragger.scroll-content {
    overflow-x: auto;
  }

  .calendar-container .grid {
    overflow: auto;
  }

  .calendar-container .event-container {
    min-height: 0 !important;
  }
}


.contract-specification-preview-item {
  padding-left: 24px;

  &.nest1 {
    padding-left: 0;
  }
  &.nest2 {
    padding-left: 12px;
  }
  &.nest3 {
    padding-left: 24px;
  }

  .item-clause {
    padding-right: 12px;
    font-weight: bold;
  }
}

.contractor-description {
  .description-title {
    font-weight: bold;
  }
}

.input-group-day-date {
  .input-group-element-day {
    flex-grow: initial;
    min-width: 30%;
  }
}

.input-group-money {
  .input-group-money-percent {
    flex-grow: initial;
    min-width: 30%;
  }
}

.dev-unit-selector-image {
  max-height: 20px;
  max-width: 20px;
  margin-right: 6px;
}

.project-preview-product-links::after {
  content: ", ";
}
.project-preview-product-links:last-child::after {
  content: none;
}

.group-item {
  margin-bottom: 10px;
}

.absence-no-data-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  height: 96px;
  left: 0px;
  top: 416px;
  flex: none;
  order: 6;
  flex-grow: 0;
  margin: 0px 0px;
  color: rgba(40, 40, 40, 0.5);
}

.absence-day-btn {
  background-color: $bg_master_light;

  &.active{
    background-color: $info_color;
    border-color: $info_color;
    color: white;
  }
  &:hover{
    background: #dadada;
    border-color: transparent;
  }
}

.absence-with-separator {
  position: relative;
  &:after{
    content: "–";
    position: absolute;
    left: 49.5%;
    top: 49%;
  }
}

.absence-schedule-item {
  padding: 9px 19px 9px 15px;
  border-radius: 3px;
  font-size: 13px;
  background-color: $bg_light_grey;
}

.kit-info {
  .form-group.form-group-default {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
  }
}

//KIT popup menu
.kit-menu-list {
  margin: 0;
  padding: 4px 0 4px 0;
  max-height: 60vh;
  overflow: auto;
  z-index: 1000;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(136, 153, 178, 0.68);
  -webkit-box-shadow: 0 1px 3px 0 rgba(136, 153, 178, 0.68);
  border: 1px solid #ced2d7;

  .kit-menu-item {
    text-align: center;
    line-height: 22px;
    display: flex;
    cursor: pointer;
    white-space: nowrap;
    padding-left: 0;
    border-radius: 4px;

    .kit-menu-item-info{

      display: flex;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 3px;

      &:hover {
        background-color: $bg_light_grey;
      }
    }

    a {
      width: 100%;

      .kit-text {
        float: left;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        line-height: 21px;
        padding-left: 3px;

        &.module-text {
          font-size: 0.9em;
        }
      }

      .kit-icon {
        float: left;
        min-width: 16px;
        margin: 3px 2px 2px 3px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        border-radius: 2px;
        text-align: center;
        vertical-align: middle;
        font-size: 0.8em;
        font-weight: bold;

        &.module-icon {
          font-size: 0.7em;
          margin-top: 2px;
        }
      }

      .state-submenu-list {
        padding: 5px 0 0;

        .state-submenu-item {
          text-align: center;
          line-height: 22px;
          display: flex;
          cursor: pointer;
          font-size: 0.9em;
          white-space: nowrap;
          padding-left: 0;
          border-radius: 4px;

          .kit-icon {
            margin-top: 2px;
          }

          &:hover {
            background-color: $bg_light_grey;
          }

          a {
            width: 100%;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 30px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

// common-manager-list
.common-manager-list {
  min-height: 300px;
}