<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath" value="${sys:catalina.home}/logs/portal"/>
        <Property name="archivePath" value="${basePath}/archive"/>
        <Property name="extension" value=".log"/>
        <Property name="errorsFileName" value="errors"/>
        <Property name="appFileName" value="portal.app"/>
        <Property name="appTraceFileName" value="portal.app.trace"/>
        <Property name="migrateFileName" value="portal.migrate"/>
        <Property name="jiraFileName" value="portal.jira"/>
        <Property name="hpsmFileName" value="portal.hpsm.service"/>
        <Property name="redmineFileName" value="portal.redmine.service"/>
        <Property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%c{1}] [%t] - %m%n"/>
        <Property name="maxFileSize" value="32MB"/>
    </Properties>

    <Loggers>
        <Root level="DEBUG">
            <!-- Сбор ошибок со всех appendable источников-->
            <AppenderRef ref="ERRORS"/>
            <!-- Для отладки в IDE вывод в консоль. ( Отладка )-->
<!--            <AppenderRef ref="CONSOLE"/>-->
        </Root>

        <Logger name="ru.protei.portal" level="DEBUG">
            <AppenderRef ref="APP"/>
        </Logger>

        <!-- Сервис слой -->
        <Logger name="service" level="TRACE">
            <!-- Логгирование данных. Большие объемы. ( Отладка, Демозона, Тестирование )-->
            <!--  <AppenderRef ref="TRACE"/> -->
            <!-- Основной лог -->
            <AppenderRef ref="APP" level="INFO"/>
        </Logger>

        <!-- SQL запросы -->
        <!-- SQL -->
        <Logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG">
            <AppenderRef ref="APP"/>
        </Logger>
        <!-- параметры SQL запроса ( Отладка, Демозона, Тестирование )-->
        <!--        <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE">-->
        <!--            <AppenderRef ref="APP"/>-->
        <!--        </logger>-->

        <!--Модули интеграции -->
        <Logger name="ru.protei.portal.jira" level="DEBUG" additivity="false">
            <AppenderRef ref="JIRA"/>
            <AppenderRef ref="ERRORS"/>
        </Logger>
        <Logger name="ru.protei.portal.hpsm" level="DEBUG" additivity="false">
            <AppenderRef ref="HPSM"/>
            <AppenderRef ref="ERRORS"/>
        </Logger>
        <Logger name="ru.protei.portal.redmine" level="DEBUG" additivity="false">
            <AppenderRef ref="REDMINE"/>
            <AppenderRef ref="ERRORS"/>
        </Logger>

        <Logger name="ru.protei.portal.tools.migrate" level="DEBUG" additivity="false">
            <AppenderRef ref="MIGRATE"/>
            <AppenderRef ref="ERRORS"/>
        </Logger>

        <!-- Инициализация контекстов и бинов Spring -->
        <Logger name="DefaultListableBeanFactory" level="INFO">
            <AppenderRef ref="APP"/>
        </Logger>

        <!-- Winter reloadable config -->
        <Logger name="config" level="ERROR">
            <AppenderRef ref="APP"/>
        </Logger>
        <Logger name="ru.protei.winter" level="DEBUG">
            <AppenderRef ref="APP"/>
        </Logger>
        <Logger name="liquibase" level="WARN">
            <AppenderRef ref="APP"/>
        </Logger>
        <Logger name="LiquibaseSchemaResolver" level="WARN">
            <AppenderRef ref="APP"/>
        </Logger>
        <Logger name="org.springframework.web" level="DEBUG">
            <AppenderRef ref="APP"/>
        </Logger>

    </Loggers>

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <!-- Лог ошибок из всех модулей приложения -->
        <RollingFile name="ERRORS" fileName="${basePath}/${errorsFileName}${extension}"
                     filePattern="${archivePath}/${errorsFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <!-- Основной лог приложения -->
        <RollingFile name="APP" fileName="${basePath}/${appFileName}${extension}"
                     filePattern="${archivePath}/${appFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <!-- Логгирование данных ( toString() ). Большие объёмы. -->
        <!-- Сжимать раз в сутки при низкой нагрузке. Хранить не более 20 дней-->
        <RollingFile name="TRACE" fileName="${basePath}/${appTraceFileName}${extension}"
                     filePattern="${archivePath}/${appTraceFileName}.%d{yyyyMMdd}${extension}.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${archivePath}" maxDepth="1">
                    <IfFileName glob="*/${appTraceFileName}*.log.gz"/>
                    <IfLastModified age="20d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="MIGRATE" fileName="${basePath}/${migrateFileName}${extension}"
                     filePattern="${archivePath}/${migrateFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <RollingFile name="HPSM" fileName="${basePath}/${hpsmFileName}${extension}"
                     filePattern="${archivePath}/${hpsmFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <RollingFile name="JIRA" fileName="${basePath}/${jiraFileName}${extension}"
                     filePattern="${archivePath}/${jiraFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <RollingFile name="REDMINE" fileName="${basePath}/${redmineFileName}${extension}"
                     filePattern="${archivePath}/${redmineFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>
    </Appenders>
</Configuration>