<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath" value="${sys:catalina.home}/logs/portal"/>
        <Property name="archivePath" value="${basePath}/archive"/>
        <Property name="extension" value=".log"/>
        <Property name="appFileName" value="portal.app"/>
        <Property name="migrateFileName" value="portal.migrate"/>
        <Property name="appServiceFileName" value="portal.app.service"/>
        <Property name="hpsmFileName" value="portal.hpsm.service"/>
        <Property name="redmineFileName" value="portal.redmine.service"/>
        <Property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%c{1}] [%t] - %m%n"/>
        <Property name="maxFileSize" value="32MB"/>
    </Properties>

    <Loggers>
        <Root level="DEBUG">
        </Root>

        <Logger name="ru.protei" level="DEBUG">
            <AppenderRef ref="COMMON"/>
        </Logger>
        <Logger name="protei" level="DEBUG">
            <AppenderRef ref="COMMON"/>
        </Logger>
        <Logger name="debuglog" level="DEBUG">
            <AppenderRef ref="COMMON"/>
        </Logger>
        <Logger name="ds_cluster" level="DEBUG">
            <AppenderRef ref="COMMON"/>
        </Logger>
        <Logger name="ds_cluster_stat" level="DEBUG">
            <AppenderRef ref="COMMON"/>
        </Logger>
        <Logger name="org" level="DEBUG">
            <AppenderRef ref="COMMON"/>
        </Logger>
        <Logger name="com" level="DEBUG">
            <AppenderRef ref="COMMON"/>
        </Logger>
        <Logger name="service" level="DEBUG">
            <AppenderRef ref="APPSERVICE"/>
        </Logger>
        <Logger name="ru.protei.portal.hpsm" level="DEBUG" additivity="false">
            <AppenderRef ref="HPSM"/>
        </Logger>
        <Logger name="ru.protei.portal.redmine" level="DEBUG" additivity="false">
            <AppenderRef ref="REDMINE"/>
        </Logger>
        <Logger name="ru.protei.portal.tools.migrate" level="DEBUG" additivity="false">
            <AppenderRef ref="MIGRATE"/>
        </Logger>

        <Logger name="DefaultListableBeanFactory" level="INFO"/>
        <Logger name="wire" level="INFO"/>
        <Logger name="headers" level="INFO"/>

        <Logger name="org.springframework" level="ERROR"> <AppenderRef ref="COMMON"/></Logger>
        <Logger name="config" level="ERROR"> <AppenderRef ref="COMMON"/></Logger>
        <Logger name="ru.protei.winter" level="ERROR"> <AppenderRef ref="COMMON"/></Logger>
        <Logger name="liquibase" level="ERROR"> <AppenderRef ref="COMMON"/></Logger>
        <Logger name="LiquibaseSchemaResolver" level="ERROR"> <AppenderRef ref="COMMON"/></Logger>
        <Logger name="jdbc" level="ERROR"> <AppenderRef ref="COMMON"/></Logger>
        <Logger name="SpringGwtRemoteServiceServlet" level="ERROR"> <AppenderRef ref="COMMON"/></Logger>
    </Loggers>

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="COMMON" fileName="${basePath}/${appFileName}${extension}"
                     filePattern="${archivePath}/${appFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout><pattern>${pattern}</pattern></PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <RollingFile name="APPSERVICE" fileName="${basePath}/${appServiceFileName}${extension}"
                     filePattern="${archivePath}/${appServiceFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout><pattern>${pattern}</pattern></PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <RollingFile name="MIGRATE" fileName="${basePath}/${migrateFileName}${extension}"
                     filePattern="${archivePath}/${migrateFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout><pattern>${pattern}</pattern></PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <RollingFile name="HPSM" fileName="${basePath}/${hpsmFileName}${extension}"
                     filePattern="${archivePath}/${hpsmFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout><pattern>${pattern}</pattern></PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <RollingFile name="REDMINE" fileName="${basePath}/${redmineFileName}${extension}"
                     filePattern="${archivePath}/${redmineFileName}.%d{yyyyMMdd}.%i${extension}.gz">
            <PatternLayout><pattern>${pattern}</pattern></PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>
    </Appenders>
</Configuration>