<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
>


       <context:component-scan base-package="ru.protei.winter.core" />
       <context:component-scan base-package="ru.protei.winter.jdbc" />
       <context:component-scan base-package="ru.protei.winter.http" />
       <context:component-scan base-package="ru.protei.sn.remote_services.configuration" />

       <context:component-scan base-package="ru.protei.portal.core" />
       <context:component-scan base-package="ru.protei.portal.config" />
       <context:component-scan base-package="ru.protei.portal.tools.notifications" />
       <context:component-scan base-package="ru.protei.portal.tools.audit" />
<!--       <context:component-scan base-package="ru.protei.portal.hpsm.config" />-->
       <context:component-scan base-package="ru.protei.portal.redmine.config" />
       <context:component-scan base-package="ru.protei.portal.jira.config" />

       <task:scheduler id="winter-task-scheduler" pool-size="10"/>

       <context:component-scan base-package="ru.protei.portal.ui" />
       <context:component-scan base-package="ru.protei.portal.app" />

       <mvc:annotation-driven />
        <mvc:resources mapping="/webjars/**" location="/webjars/">
            <mvc:resource-chain resource-cache="true"/>
        </mvc:resources>
</beans>