/*
[Login]
*/
.login-wrapper {
    height: 100%;
    background-color: #5f9edc9c;
}
.login-wrapper > * {
    height: 100%;
}
.login-wrapper .bg-pic {
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.login-wrapper .bg-pic > img {
    height: 100%;
    opacity: 0.6;
}
.login-wrapper .login-container {
    width: 500px;
    display: block;
    position: relative;
    float: right;
}
.login-wrapper .bg-caption {
    width: 500px;
}

.login-wrapper .login-header {
    position: relative;
    width: 450px;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    padding: 100px 60px 0;
}

.login-wrapper .login-header .brand {
    padding: 0;
    font-size: 28px;
    color: #2d353c
}

.login-wrapper .login-header .brand .logo {
    border: 14px solid transparent;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .2) rgba(0, 0, 0, .3);
    width: 28px;
    height: 28px;
    position: relative;
    font-size: 0;
    margin-right: 10px;
    border-radius: 6px;
    top: -11px
}

.login-wrapper .login-header .brand small {
    font-size: 14px;
    display: block;
    color: #707478
}

.login-wrapper .login-header .icon {
    position: absolute;
    right: 125px;
    top: 80px;
    opacity: .1;
}

.login-wrapper .login-header .icon i {
    font-size: 70px
}

.login-wrapper .login-content {
    color: #999;
    margin: 0 auto;
    width: auto;
    padding: 30px 60px;
}


/* Responsive handlers : Login
------------------------------------
*/
@media (max-width: 768px) {
    .login-wrapper .login-container {
        width: 100%;
    }
    .register-container {
        width: 100%;
        padding: 15px;
    }
}
@media only screen and (max-width: 321px) {
    .login-wrapper .login-container {
        width: 100%;
    }
}

.bg-white {
    background-color: #fff;
}

