/*------------------------------------------------------------------
Checkbox
*/
.form-check {
    margin-bottom: 10px;
    padding-left: 0px;
}

.form-check label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    min-width: 18px;
    min-height: 18px;
    margin-bottom: 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.form-check label:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #c9c9c9;
}

.form-check label {
    transition: border 140ms linear 0s, color 140ms linear 0s, background-color 140ms linear 0s;
}

.form-check label:hover {
    color: #212121;
}

.form-check label:before {
    top: 2px;
    border-radius: 3px;
    transition: border 140ms linear 0s, color 140ms linear 0s, background-color 140ms linear 0s;
}

.form-check input[type="checkbox"] {
    position: absolute;
    margin: 0;
    top: 3px;
    z-index: -1;
    width: 16px;
    height: 16px;
    opacity: 0;
}

.form-check input[type="checkbox"] + label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0px;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.form-check.checkbox-circle label:after {
    border-radius: 99px;
}

.form-check.checkbox-circle label:before {
    border-radius: 99px;
}

.form-check input[type="checkbox"]:checked + label::after {
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAAQAgMAAADsa5zLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURUdwTHBwcG9vb3BwcBFjhIYAAAAEdFJOUwBG9tQE3MceAAAAVUlEQVQoz2NgGLKA0QGIDwDxBSCeAMEYgAWI2YCK2CagYgwgDcRSDhgYbAkKzsSKGdgakCyY6ADES7BiiCkgJ4PYyybgxAhQAsRZDrgxCpDEg4cAAAAp2ibhZRGLHgAAAABJRU5ErkJggg==") left center;
    background-size: 160px 16px;
    background-repeat: no-repeat;
    animation-name: checkbox-check;
    animation-duration: 320ms;
    animation-timing-function: steps(9);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.form-check input[type="checkbox"]:hover:active:not(:checked) + label:before {
    background-color: rgba(0, 0, 0, 0.08);
}

.form-check input[type="checkbox"]:focus + label {
    color: #212121;
}

.form-check input[type="checkbox"]:focus + label:before {
    outline: none !important;
    box-shadow: 0 0 0 2px #78c8fe;
}

.form-check input[type="checkbox"][disabled] + label {
    cursor: not-allowed !important;
    color: #4b4b4b;
    opacity: 0.58;
}

.form-check input[type="checkbox"][disabled] + label:before {
    cursor: not-allowed !important;
    background: #ececec;
}

.form-check input[type="checkbox"]:indeterminate + label:after {
    background: none;
    background-color: #4b4b4b;
    width: 10px;
    height: 2px;
    top: 6px;
    margin: 3px;
    border-radius: 2px;
}

.form-check.right label {
    padding-left: 0px;
    padding-right: 26px;
}

.form-check.right label:before {
    right: 0px;
    left: auto;
}

.form-check.right input[type="checkbox"]:checked + label {
    position: relative;
}

.form-check.right input[type="checkbox"]:checked + label::after {
    position: absolute;
    right: 0px;
    left: auto;
}

.success input[type="checkbox"]:checked + label:before, .success input[type="checkbox"]:indeterminate + label:before {
    border-color: #19AD79;
    background-color: #19AD79;
}

.primary input[type="checkbox"]:checked + label:before, .primary input[type="checkbox"]:indeterminate + label:before {
    border-color: #7252D3;
    background-color: #7252D3;
}

.complete input[type="checkbox"]:checked + label:before, .complete input[type="checkbox"]:indeterminate + label:before {
    border-color: #0072EC;
    background-color: #0072EC;
}

.warning input[type="checkbox"]:checked + label:before, .warning input[type="checkbox"]:indeterminate + label:before {
    border-color: #FFd945;
    background-color: #FFd945;
}

.danger input[type="checkbox"]:checked + label:before, .danger input[type="checkbox"]:indeterminate + label:before {
    border-color: #D83C31;
    background-color: #D83C31;
}

.info input[type="checkbox"]:checked + label:before, .info input[type="checkbox"]:indeterminate + label:before {
    border-color: #3B4752;
    background-color: #3B4752;
}

.info input[type="checkbox"]:checked + label::after,
.danger input[type="checkbox"]:checked + label::after,
.complete input[type="checkbox"]:checked + label::after,
.primary input[type="checkbox"]:checked + label::after,
.success input[type="checkbox"]:checked + label::after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAAQAgMAAADsa5zLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURUdwTP///////////waf0AoAAAAEdFJOUwBG9tQE3MceAAAAVUlEQVQoz2NgGLKA0QGIDwDxBSCeAMEYgAWI2YCK2CagYgwgDcRSDhgYbAkKzsSKGdgakCyY6ADES7BiiCkgJ4PYyybgxAhQAsRZDrgxCpDEg4cAAAAp2ibhZRGLHgAAAABJRU5ErkJggg==") left center;
}

.info input[type="checkbox"]:indeterminate + label::after,
.danger input[type="checkbox"]:indeterminate + label::after,
.complete input[type="checkbox"]:indeterminate + label::after,
.primary input[type="checkbox"]:indeterminate + label::after,
.success input[type="checkbox"]:indeterminate + label::after {
    background-color: #fff;
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes checkbox-check {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -144px;
    }
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .form-check input[type="checkbox"]:focus:not(.focus-visible) + label:before {
    box-shadow: none;
}

.form-check input[type="radio"] + label:before {
    bottom: 2.5px;
    border-radius: 99px;
    -webkit-transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}

.form-check input[type="radio"]:checked + label:before {
    border-color: #757575;
    border-width: 5px;
}

.form-check input[type="radio"]:hover:active:not(:checked) + label:before {
    background-color: rgba(0, 0, 0, 0.08);
}

.form-check input[type="radio"]:focus + label {
    color: #212121;
}

.form-check input[type="radio"]:focus + label:before {
    outline: none !important;
    box-shadow: 0 0 0 2px #78c8fe;
}

.form-check input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 3px;
    width: 16px;
    height: 16px;
}

.form-check input[type="radio"][disabled] + label {
    cursor: not-allowed !important;
    color: #4b4b4b;
    opacity: 0.58;
}

.form-check input[type="radio"][disabled] + label:before {
    cursor: not-allowed !important;
    background: #ececec;
}

.success input[type="radio"]:checked + label:before {
    border-color: #19AD79;
}

.primary input[type="radio"]:checked + label:before {
    border-color: #7252D3;
}

.info input[type="radio"]:checked + label:before {
    border-color: #3B4752;
}

.warning input[type="radio"]:checked + label:before {
    border-color: #FFd945;
}

.danger input[type="radio"]:checked + label:before {
    border-color: #D83C31;
}

.complete input[type="radio"]:checked + label:before {
    border-color: #0072EC;
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .form-check input[type="radio"]:focus:not(.focus-visible) + label:before {
    box-shadow: none;
}

/*------------------------------------------------------------------
Switch
*/
.form-check.switch input[type="checkbox"] + label {
    padding-left: 34px;
}

.form-check.switch input[type="checkbox"] + label:before {
    cursor: pointer;
    width: 26px;
    height: 18px;
    top: 2px;
    background-image: -webkit-linear-gradient(to right, #7252D3 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
    background-image: -moz-linear-gradient(to right, #7252D3 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
    background-image: linear-gradient(to right, #7252D3 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
    background-size: 300%;
    background-position: right;
    border-radius: 50px;
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
    transition: background 310ms, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check.switch input[type="checkbox"] + label:after {
    transform: translateX(0%);
    background: #fff;
    top: 4px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 9px;
    box-shadow: 1px 0px 1px 0.5px rgba(0, 0, 0, 0.12), 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check.switch input[type="checkbox"]:checked + label:before {
    background-position: left;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
}

.form-check.switch input[type="checkbox"]:checked + label:after {
    transform: translateX(calc(100% - 6px));
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.08), -3px 3px 6px rgba(0, 0, 0, 0.3);
}

.form-check.switch input[type="checkbox"]:focus + label:before {
    outline: none !important;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12), 0 0 0 2px #78c8fe;
}

.form-check.switch input[type="checkbox"][disabled]:active + label:after {
    transform: scaleX(1.1);
    transform-origin: center left;
    transition: transform step-start;
}

.form-check.switch input[type="checkbox"]:checked[disabled]:active + label:after {
    transform: translateX(calc(100% - 6px)) scaleX(1.1);
    transform-origin: center right;
}

.form-check.switch input[type="checkbox"]:hover:active + label:before {
    background-color: transparent;
}

.form-check.switch.right input[type="checkbox"] + label {
    padding-left: 0px;
    padding-right: 36px;
}

.form-check.switch.right input[type="checkbox"] + label:before {
    right: 0px;
    left: auto;
}

.form-check.switch.right input[type="checkbox"] + label:after {
    right: 10px;
    left: auto;
}

.form-check.switch.switch-lg input[type="checkbox"] + label {
    padding-left: 42px;
}

.form-check.switch.switch-lg input[type="checkbox"] + label:before {
    width: 34px;
    height: 22px;
    top: 0px;
}

.form-check.switch.switch-lg input[type="checkbox"] + label:after {
    width: 18px;
    height: 18px;
    top: 2px;
}

.form-check.switch.switch-lg.right input[type="checkbox"] + label {
    padding-left: 0px;
    padding-right: 44px;
}

.form-check.switch.switch-lg.right input[type="checkbox"] + label:after {
    right: 14px;
}

.form-check.switch.success input[type="checkbox"] + label:before {
    background-image: linear-gradient(to right, #19AD79 0%, #26bf93 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

.form-check.switch.complete input[type="checkbox"] + label:before {
    background-image: linear-gradient(to right, #0072EC 0%, #0f8ff9 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

.form-check.switch.warning input[type="checkbox"] + label:before {
    background-image: linear-gradient(to right, #FFd945 0%, #ffe858 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

.form-check.switch.danger input[type="checkbox"] + label:before {
    background-image: linear-gradient(to right, #D83C31 0%, #e6533c 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

.form-check.switch.info input[type="checkbox"] + label:before {
    background-image: linear-gradient(to right, #3B4752 0%, #475b6b 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .form-check.switch input[type="checkbox"]:focus:not(.focus-visible) + label:before {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
}

/* Accessibility focus for screen readers*/
.form-check.switch input[type="checkbox"] {
    top: 1px;
    width: 28px;
    height: 18px;
}

.form-check.switch.switch-lg input[type="checkbox"] {
    top: 0px;
    width: 34px;
    height: 22px;
}