@mixin clean($margin: true, $padding: true, $border: true){
  @if($margin){ margin: 0; }
  @if($padding){ padding: 0; }
  @if($border){ border: 0; }
}

body{
  @include clean();
  font: 0.8em Arial, Helvetica, sans-serif;
}

$mainBottomMargin: 0;
$mainTopMargin: 6px;
$mainLrMargin: 6px;
$mainMaxWidth: 1300px-$mainLrMargin*2;
$mainMinWidth: 1024px-$mainLrMargin*2;

.mc{
  // main container
  max-width: $mainMaxWidth;
  min-width: $mainMinWidth;
  margin: $mainTopMargin auto $mainBottomMargin;
  padding: 0 $mainLrMargin;
  .topMenu{
    .level0 {
      $lineHeight: 31px;
      height: $lineHeight;
      .logo {
        height: $lineHeight;
      }
      .profileBar {
        float: right;
        height: 100%;

        @mixin button($img, $h: 23px, $w: 23px){
          display: inline-block;
          background: transparent url($img) no-repeat center center/ $w $h;
          height: 100%;
          width: $w;
          cursor: pointer;
        }
        .account {
          @include button("../images/account.png", 21px, 23px);
        }
        .addAbsence {
          @include button("../images/addAbsence.png");
        }
      }
    }

    .level1{
      $lineHeight: 31px;
      $c: #DDD;
      height: $lineHeight;
      font-size: 11pt;
      text-align: right;
      color: #535353;
      line-height: $lineHeight;
      border-top: 1px solid $c;
      border-left: 1px solid $c;
      border-right: 1px solid $c;
      margin-top: 6px;
      padding: 0 6px;
      .link{
        cursor: pointer;
      }
    }
  }

  .filterMenu{
    .searchLine{
      $lineHeight: 31px;
      height: $lineHeight;
      width: 720px;
      margin: 20px 0 0;
      //text-align: center;
      .searchInput{
        //@include clean();
        //border: 1px solid #DDD;
        //padding: 6.5px;
        //font-size: 10pt;
        //color: #A1A1A1;
        //width: 450px;
        margin: 0;
        border: 1px solid #DDD;
        padding: 8.5px;
        font-size: 10pt;
        color: #A1A1A1;
        //width: 450px;
        width: 73%;
        background: transparent linear-gradient(to left, rgb(233, 233, 233) 0%, transparent 46%) repeat scroll 0% 0%;
        box-shadow: 2px 2px 11px -7px gray;
      }
      .searchBut{
        @include clean();
        border: 1px solid gray;
        color: gray;
        width: 100px;
        height: 100%;
      }
      .searchEx{
        cursor: pointer;
        border-bottom: 1px dotted gray;
        margin-left: 10px;
        line-height: $lineHeight;
      }
    }
    .searchExtLine{
      width: 1000px;
      margin: 14px 0;
      color: #5F5F5F;
      .newLine{
        margin: 10px 0;
      }
      hr{
        margin-top: 15px;
        border: 0;
      }
      .level1{
        margin: 30px 0 20px;
      }
      .level2{
        padding: 20px 0;
        border-top: 1px solid rgb(230, 230, 230);
        border-bottom: 1px solid rgb(230, 230, 230);
      }
      .level3{
        margin: 30px 0;
        hr{
          margin-top: 20px;
        }
      }
    }
  }

  .userBlock{
    //margin-top: 20px;
    .navBar{
      $lineHeight: 24px;
      $arrowsSpace: -2px;
      float: right;
      height: $lineHeight;
      line-height: $lineHeight;
      @mixin button($img, $active: true){
        $url: "../images/icons/" + $img;
        @if($active) {
          $h: 18px;
          $w: 18px;
          $url: $url + "Act.png";
          vertical-align: middle;
          display: inline-block;
          cursor: pointer;
          background: transparent url($url) no-repeat center center/ $w $h;
          height: 100%;
          width: $w;
          opacity: 0.6;
        }
        @else {
          $url: $url + "Inact.png";
          background-image: url($url);
          cursor: auto;
          opacity: 0.4;
        }
      }
      .active{
        display: inline-block;
        width: 18px;
        height: 100%;
        text-align: center;
        cursor: pointer;
        color: #020101;
      }
      .checked{
        background-color: #87A5CF;
        color: white;
      }
      .inactive{
        @extend .active;
        color: #C8C8C8;
        cursor: auto;
      }

      .left {
        @include button("left");
      }
      .leftEnd {
        @include button("leftEnd");
        margin-right: $arrowsSpace;
      }
      .leftEndInact {
        //@extend .leftEnd;
        @include button("leftEnd", false);
        & + .left{
          @include button("left", false);
        }
      }
      .right {
        @include button("right");
      }
      .rightEnd {
        margin-left: $arrowsSpace;
        @include button("rightEnd");
      }
      .rightInact {
        @include button("right", false);
        & + .rightEnd{
          @include button("rightEnd", false);
        }
      }
    }

    .controlBar{
      //background: -moz-linear-gradient(top,  rgba(70,96,140,1) 0%, rgba(0,0,0,0) 100%);
      //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,96,140,1)), color-stop(100%,rgba(0,0,0,0)));
      //background: -webkit-linear-gradient(top,  rgba(70,96,140,1) 0%,rgba(0,0,0,0) 100%);
      //background: -o-linear-gradient(top,  rgba(70,96,140,1) 0%,rgba(0,0,0,0) 100%);
      //background: -ms-linear-gradient(top,  rgba(70,96,140,1) 0%,rgba(0,0,0,0) 100%);
      //background: linear-gradient(to bottom,  rgba(70,96,140,1) 0%,rgba(0,0,0,0) 100%);
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46608c', endColorstr='#00000000',GradientType=0 );
      background: transparent -moz-linear-gradient(center top , rgb(142, 155, 177) 0%, rgb(114, 114, 114) 80%) repeat scroll 0% 0%;
      width: 280px;
      border: 1px solid #565555;
      float: right;
      .filters{
        position: relative;
        margin: 9px;
        padding: 10px;
        line-height: 15pt;
        color: #F2F2F2;
        background-color: #505359;
        box-shadow: 0px 0px 11px 0px #353535 inset;
        border: 1px solid #868686;
      }
      .lidbut{
        margin: 0 9px;
        border: 1px solid #1F314E;
        border-bottom: 1px solid #A5ABB3;
        border-top: 1px solid #FCFDFF;
        padding: 8px 10px;
        color: #3F4248;
        background: transparent -moz-linear-gradient(center top , rgb(221, 221, 221) 0%, rgb(207, 207, 207) 100%) repeat scroll 0% 0%;
        text-shadow: 2px 2px 10px #FFF;
        box-shadow: 1px 10px 22px -9px rgb(43, 43, 44);
      }
      .selection{
        margin: 15px 9px;
        padding: 0;
        //border-style: dashed;
        background-color: rgb(89, 114, 159);
      }
    }

    .userList{
      clear: both;
      .userProfile{
        //border-collapse: collapse;
        width: 1000px;
        border-spacing: 0px;
        margin-bottom: 8px;

        .name{
          height: 38px;
          background-color: #6E7277;
          font-size: 11pt;
          color: #FFF;
          font-weight: 800;
          padding: 0 0 0 12px;
          border-bottom: 1px solid #575E66;
          line-height: 38px;
          .idField{
            background-color: rgb(126, 130, 134);
            padding: 0 10px;
            border-left: 1px solid #42474D;
            border-right: 1px solid rgb(153, 146, 146);
          }
          .cbx{
            display: block;
            float: right;
            height: 100%;
            background-color: #61666C;
            border-left: 1px solid #42474D;
          }
          .checkbox{
            display: inline-block;
            height: 14px;
            width: 14px;
            margin: 12px;
            background-color: #D2D2D2;
            border: 1px solid #5A5A5A;
            //active
            //box-shadow: 0px 0px 8px 2px rgb(70, 132, 201);
            //background-color: rgb(126, 177, 255);
            //border: 1px solid #4B71B3;
          }
        }
        .mainData{
          background-color: rgb(126, 130, 134);
          vertical-align: top;
          height: 118px;
          font-size: 9pt;
          color: white;
          padding: 8px 4px;
          border-top: 1px solid #949799;
          text-shadow: 2px 2px 4px #535960;
          border-bottom: 1px solid #515151;
        }
        .contacts{
          //background-color: rgb(209, 209, 209);
          background: transparent -moz-linear-gradient(center top , #BDBDBD 0%, #DADADA 100%) repeat scroll 0% 0%;
          border: 1px solid #B6B6B6;
          border-top: 1px solid #D4D2D2;
          padding: 8px 4px;
          vertical-align: top;
        }
        .contactsTable{
          border-collapse: collapse;
          td{
            font-size: 9pt;
            color: #292929;
            border-bottom: 6px solid transparent;
            border-right: 10px solid transparent;
          }
        }
        .ro{
          .day{
            padding: 2px;
            background: transparent -moz-linear-gradient(center top , rgb(117, 117, 117) 0%, rgb(101, 101, 101) 100%) repeat scroll 0% 0%;
            color: #FFF;
            border: 1px solid rgb(93, 92, 92);
            display: inline-block;
            width: 18px;
            text-align: center;
            }
          .hours{
            width: 78px;
            display: inline-block;
            text-align: center;
            padding: 2px 4px;
            background: transparent -moz-linear-gradient(center top , rgb(215, 215, 215) 0%, rgb(233, 233, 233) 100%) repeat scroll 0% 0%;
            color: rgb(41, 41, 41);
            margin-left: -2px;
            border: 1px solid rgb(120, 120, 120);
          }
        }
      }
    }

  }
}




.navBar{
  $lineHeight: 24px;
  $arrowsSpace: -2px;
  float: right;
  height: $lineHeight;
  line-height: $lineHeight;
  @mixin button($img, $active: true){
    $url: "../images/icons/" + $img;
    @if($active) {
      $h: 18px;
      $w: 18px;
      $url: $url + "Act.png";
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
      background: transparent url($url) no-repeat center center/ $w $h;
      height: 100%;
      width: $w;
      opacity: 0.6;
    }
    @else {
      $url: $url + "Inact.png";
      background-image: url($url);
      cursor: auto;
      opacity: 0.4;
    }
  }
  .active{
    display: inline-block;
    width: 18px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    color: #020101;
  }
  .checked{
    background-color: #87A5CF;
    color: white;
  }
  .inactive{
    @extend .active;
    color: #C8C8C8;
    cursor: auto;
  }

  .left {
    @include button("left");
  }
  .leftEnd {
    @include button("leftEnd");
    margin-right: $arrowsSpace;
  }
  .leftEndInact {
    //@extend .leftEnd;
    @include button("leftEnd", false);
    & + .left{
      @include button("left", false);
    }
  }
  .right {
    @include button("right");
  }
  .rightEnd {
    margin-left: $arrowsSpace;
    @include button("rightEnd");
  }
  .rightInact {
    @include button("right", false);
    & + .rightEnd{
      @include button("rightEnd", false);
    }
  }
}

select{
  background: #FFF url("../images/icons/downSelect.png") no-repeat scroll 34px center / 21px 20px;
  border: 1px solid #B0B4BC;
  text-overflow: "";
  text-indent: 0.01px;
  -moz-appearance: none;
  height: 26px;
  width: 56px;
}