<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SS};%m%n"/>
    </Properties>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.springframework" level="OFF"/>
        <Logger name="config" level="OFF"/>
        <Logger name="ru.protei.winter" level="OFF"/>
        <Logger name="liquibase" level="OFF"/>
        <Logger name="LiquibaseSchemaResolver" level="OFF"/>
        <Logger name="jdbc" level="OFF"/>
    </Loggers>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>
</Configuration>