<?xml version="1.0" encoding="UTF-8"?>
<!-- Для утилиты генерации шаблонов LocalizedTemplateCreator-->
<Configuration>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>
</Configuration>