<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="portal.wsapi" version="3.0">


    <display-name>Portal-WSAPI</display-name>
    <description>
        Web-service API for portal
    </description>


    <context-param>
        <description>
            The EMAIL address of the administrator to whom questions
            and comments about this application should be addressed.
        </description>
        <param-name>developers</param-name>
        <param-value>develop.sw.om@protei.ru</param-value>
    </context-param>


    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>

<!--
    <listener>

        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
-->
</web-app>